<script>
	$(document).ready(function() {
		$('#currentsolar').autocomplete({ source: root+'wormhole_tracker/solarsystem', select: function() { window.location=root+'wormhole_tracker/display/'+$(this).val(); } });
	});
	</script>
<h1>Solar System <input id="currentsolar" style="font-size:20px;" type="text" value="{$solar_system_name}" onchange="window.location=root+'wormhole_tracker/display/'+$(this).val();"/> {if $sol}Probable Statics: {ef 'solar_system' $solar_system->id 'probable_statics' $solar_system->probable_statics}{/if}</h1>
{if !$solar_system}
{if $solar_system_name}<h1>Solar System '{$solar_system_name}' does not yet have it's own page. <a href="{$site.root}wormhole_tracker/create/{$solar_system_name}">Create</a>?</h1>{/if}
{else}
<script>
	function changeSystem() {
		$.ajax({
			url: root+'wormhole_tracker/currentsystem',
			dataType: 'json',
			method: 'post',
			data: { system: '{$solar_system_name}' },
			success: function(data, textStatus, jqXHR) {
				if(data.new_system != null) {
					window.location = root+'wormhole_tracker/display/'+data.new_system;
				}
			}
		});
	}
	$(document).ready(function() {
		$('*[title]').qtip({ position: { target: 'mouse' } });
		$('#tosolar').autocomplete({ source: root+'wormhole_tracker/solarsystem' });
	});
	setInterval('changeSystem()', 5000);
	function changeTypes(obj) {
		$('.sigtype').hide();
		$('.sigtype').attr('name', '');
		$('#sigs_'+$(obj).val()).show();
		$('#sigs_'+$(obj).val()).attr('name', 'sig[type]');
	}
	function saveComments() {
		$.ajax({
			url: root+'raw/wormhole_tracker/comments',
			dataType: 'json',
			method: 'post',
			data: { system: '{$solar_system_name}', comments: $('#comments').val() },
			success: function(data, textStatus, jqXHR) {
				$('#commentresult').html('Saved');
			}
		});
	}
</script>
{if $error}
<div class="error">{$error}</div>
{/if}
<table class="clean middle">
	<tr>
		<td width="16%">Region</td><td width="16%">{$sol->regionName}</td>
		<td width="16%">Planets</td><td width="16%">{$counts.7}</td>
		<td width="16%">Jumps 1h</td><td width="16%">{if $sol->shipJumps}{$sol->shipJumps}{else}0{/if}</td>
	</tr>
	<tr>
		<td>Constellation</td><td>{$sol->constellationName}</td>
		<td>Moons</td><td>{$counts.8}</td>
		<td>Kills 1h</td><td>{if $sol->shipKills}{$sol->shipKills}{else}0{/if}</td>
	</tr>
	<tr>
		<td>Security Level</td><td>{$sol->security|round:2}</td>
		<td>Belts/Icebelts</td><td>{$counts.9}</td>
		<td>NPC Kills</td><td>{if $sol->factionKills}{$sol->factionKills}{else}0{/if}</td>
	</tr>
	<tr>
		<td>Wormhole Class</td><td>{$sol->wormholeClassID} ({$sol->wormholeClassName})</td>
		<td>Security Class</td><td>{if $sol->securityClass}{$sol->securityClass}{else}None{/if}</td>
		<td>Pod Kills</td><td>{if $sol->podKills}{$sol->podKills}{else}0{/if}</td>
	</tr>
	<tr>
		<td>Anomaly</td><td>
			{if $anomaly}{$anomaly->itemName} ({$anomaly->type->typeName}, {$anomaly->typeID}){else}None{/if}
		</td>
		<td>Solar System ID</td><td>{$sol->solarSystemID}</td>
		<td></td><td><a target="_blank" href="http://evemaps.dotlan.net/system/{$sol->solarSystemName}/stats">more stats</a></td>
	</tr>
</table>
{if $anomaly->effects}
<h2 class="red">Anomaly</h2>
<table class="clean">
<tr>
{foreach $anomaly->effects "index" "effect"}
{if $index % 3 == 0}</tr><tr>{/if}
<td width="25%">{$effect->displayName}</td><td width="7%">{if $effect->value < 3 && $effect->value > -3}{$value=$effect->value-1*100}{else}{$value = $effect->value}{/if}<span class="{if $value > 0}green{else}red{/if}">{$value}%</span></td>
{/foreach}
</tr></table>
{/if}
<h2>Wormholes</h2>
<table class="clean spacing">
	<tr>
		<th>ID</th><th>Type</th><th>To</th><th>Status</th><th>Age</th><th>Modified</th><th>EOL</th><th>X</th>
	</tr>
	{foreach $signatures "signature"}{if $signature->wormhole_type_name}
		<tr>
			<td title="{$signature->entered_by}">{ef 'signature' $signature->id 'name' upper($signature->name)}</td>
			<td style="cursor:pointer;background-color:{$signature->color};" title="{$signature->stable_time} | {$signature->max_jump_mass|number_format} / {$signature->stable_mass|number_format}+{$signature->mass_regeneration}">{ef 'wormhole' $signature->wormhole_id 'wormhole_type' $signature->wormhole_type_id true}</td>
			<td>{ef 'wormhole' $signature->wormhole_id 'to_solar_system' $signature->to_solar_system true} ({$signature->security|round:2})<a href="{$site.root}wormhole_tracker/display/{$signature->solarSystemName}"> Goto</a></td>
			<td>{ef 'signature' $signature->id 'status' $signature->status}</td>
			<td>{$signature->age}</td>
			<td>{$signature->modified}</td>
			<td>{ef 'wormhole' $signature->wormhole_id 'eol' $signature->eol}</td>
			<td><a href="{$site.root}wormhole_tracker/deletesig/{$signature->id}">X</a></td>
		</tr>
	{/if}{/foreach}
</table>
<form method="post">
<table>
	<tr>
		<td>
			<input type="text" name="worm[name]" />
		</td>
		<td>
			<select name="worm[type]">{foreach $wormhole_types "type"}<option value="{$type->id}">{$type->name}</option>{/foreach}</select>
		</td>
		<td>
			<input id="tosolar" type="text" name="worm[to_solar_system]" />
		</td>
		<td>
			<select name="worm[status]">{$options=array('Unscanned', 'Bookmarked', 'Warped to/Activated', 'Cherry Picked', 'Completed', 'Expired')}
				{foreach $options "id" "option"}<option value="{$option}">{$option}</option>{/foreach}
			</select>
		</td>
		<td>
			<input type="submit" value="New" />
		</td><td></td>
	</tr>
</table>
</form>
<h2>Signatures</h2>

<table class="clean spacing">
	<tr>
		<th>ID</th><th>Group</th><th>Type</th><th>Status</th><th>Age</th><th>Modified</th><th>Spwn</th><th>Clr</th><th>X</th>
	</tr>
	{foreach $signatures "signature"}{if !$signature->wormhole_type_name}
		<tr>
			<td title="Entered by: {$signature->entered_by}">{ef 'signature' $signature->id 'name' $signature->name|upper}</td>
			<td style="background-color:{$signature->color};">{ef 'signature' $signature->id 'siggroup' $signature->group_id true}</td>
			<td>{ef 'signature' $signature->id 'type' $signature->type_id false array(lc_signature_group_id=$signature->group_id)} <a target="_blank" href="{if $signature->link}{$signature->link}{else}http://www.lsp-eve.com/survival/c{$signature->class}-{$signature->type_name|lower|replace:' ':'_'}.html{/if}">Guide</a></td>
			<td>{ef 'signature' $signature->id 'status' $signature->status}</td>
			<td>{$signature->age}</td>
			<td>{$signature->modified}</td>
			<td>{ef 'signature' $signature->id 'spawned' $signature->spawned}</td>
			<td>{ef 'signature' $signature->id 'cleared' $signature->cleared}</td>
			<td><a href="{$site.root}wormhole_tracker/deletesig/{$signature->id}">X</a></td>
		</tr>
	{/if}{/foreach}
</table>
<form method="post">
<table>
	<tr>
		<td>
			<input type="text" name="sig[name]" />
		</td>
		<td>
			<select name="sig[siggroup]" onchange="changeTypes(this);">{foreach $siggroups "group"}<option value="{$group->id}">{$group->name}</option>{/foreach}</select>
		</td>
		<td>
			{foreach $siggroups "index" "group"}
				<select id="sigs_{$group->id}" class="sigtype" {if $index==0}name="sig[type]"{else}style="display:none;"{/if}  >
					{foreach $group->get_children() "child"}
						{foreach $child "item"}
							<option value="{$item->id}">{$item->name}</option>
						{/foreach}
					{/foreach}
				</select>
			{/foreach}
		</td>
		<td>
			<select name="sig[status]">{$options=array('Unscanned', 'Bookmarked', 'Warped to/Activated', 'Cherry Picked', 'Completed', 'Expired')}
				{foreach $options "id" "option"}<option value="{$option}">{$option}</option>{/foreach}
			</select>
		</td>
		<td>
			<input type="submit" value="New" />
		</td><td></td>
	</tr>
</table>
</form>
<div class="news margin">
	<h2>Planets</h2>
	<table class="clean">
	{foreach $planets "planet"}
	<tr><td>{$planet->itemName}</td></tr>
	{/foreach}
	</table>
</div>
<div class="mainmenu margin">
	<h2>Notes</h2>
	<textarea id="comments" class="fullwidth" rows="8" name="comments">{$solar_system->notes}</textarea><br />
	<input type="button" value="Save" onclick="saveComments();" /> <span id="commentresult"></span>
</div>

{/if}