<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    {% block head %}
		    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	    {% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
