{% extends "base.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />

	<link rel="stylesheet" href="{{ asset('bundles/marketeer/css/layout.css') }}" />

	{% stylesheets 'bundles/marketeer/less/style.less' 'bundles/marketeer/less/font-awesome.less' filter="cssrewrite" %}
		<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

	{% javascripts '@MarketeerBundle/Resources/public/js/application.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}

{% block title %}{% if title is defined %}{{ title }} - {% endif %}EVE Marketeer - Market information &amp; statistics{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="header">
			<h1><a href="{{ path('home') }}">eve <span style="color:#fff;">Marketeer</span> Beta</a></h1>
			<h2>Market Statistics and Information for New Eden</h2>
			<div class="location">
				<span class="green">Server Time: {{'now'|date("Y-m-d H:i:s")}}</span> {{ region_list() }}
			</div>
			<div class="usermenu">
				{% if app.user %}<span class="user">{{ app.user.name }}</span> |
					{% if app.user.hasRole('User') %}
						<a href="{{ url('fos_user_profile') }}">Account</a> |
						<a href="{{ url('user_api') }}">API Keys</a> |
						{% if app.user.hasRole('Admin') %}<a href="{$site.root}admin">Admin</a> | {% endif %}
						<a href="{{ url('fos_user_security_logout') }}">Log out</a>
					{% endif %}
				{% else %}
					<a href="{{ url('fos_user_security_login') }}">Log in</a>
				{% endif %}
			</div>
		</div>
		{% include "_partial/menu.html.twig" %}

		<div class="content">
			{% block content %}

			{% endblock %}
		</div>

		<div id="poweredby" class="noprint">
			<a href="http://validator.w3.org/check?uri={{ url('home') }}"><img src="{{ asset('bundles/marketeer/images/banner/valid_xhtml.png') }}" width="80" height="15" alt="Valid XHTML" /></a>
			<a href="http://www.php.net"><img src="{{ asset('bundles/marketeer/images/banner/php5-power-micro.png') }}" width="80" height="15" alt="PHP" /></a>
			<a href="http://www.mysql.com"><img src="{{ asset('bundles/marketeer/images/banner/get_mysql_80x15.png') }}" width="80" height="15" alt="MySQL" /></a>
			<a href="http://www.apache.org"><img src="{{ asset('bundles/marketeer/images/banner/apache.gif') }}" width="80" height="15" alt="NGINX Webserver" /></a>
			<a href="http://github.com/ppetermann/pheal/"><img src="{{ asset('bundles/marketeer/images/banner/button_pheal.png') }}" width="80" height="15" alt="Pheal API Libary" /></a>
			<a href="http://code.google.com/p/yapeal/"><img src="{{ asset('bundles/marketeer/images/banner/button_yapeal.png') }}" width="80" height="15" alt="Yapeal API Libary" /></a>
			<a href="http://www.getfirefox.com"><img src="{{ asset('bundles/marketeer/images/banner/get_firefox_80x15.png') }}" width="80" height="15" alt="Firefox" /></a>
			<a href="http://www.eve-online.com"><img src="{{ asset('bundles/marketeer/images/banner/eve-online.jpg') }}" width="80" height="15" alt="EVE Onlline" /></a>
			<a href="http://www.twitter.com/BartRiepe"><img src="{{ asset('bundles/marketeer/images/banner/twitter.png') }}" width="80" height="15" alt="Twitter @wollari" /></a>
		</div>

	</div>
{% endblock %}
