<div class="glass"><div class="block">
<h1>Your EVE Marketeer Account</h1>
<div class="mainmenu">
<table class="clean">
	<tr><th></th><th width="30%">Character</th><th>Balance</th><th>Orders</th></tr>
	{$total=0}{$totalbuy=0}{$totalsell=0}
	{foreach $characters "character"}
	<tr><td><img src="http://image.eveonline.com/Character/{$character->characterID}_32.jpg" /></td><td>{$character->name}<br /><i>{$character->corporationName}</i></td><td>{$total=$total+$character->balance}{$character->balance|number_format:2} ISK</td><td>{$totalbuy=$totalbuy+$character->buy}{$totalsell=$totalsell+$character->sell}{$character->sell} sell, {$character->buy} buy</td></tr>
	{foreachelse}
	<tr><td colspan="4">You have not added any characters yet. Try <a href="{$site.root}player/api">adding some</a>?</td></tr>
	{/foreach}
	<tr class="totals"><td></td><td>Grand totals: </td><td>{$total|number_format:2} ISK</td><td>{$totalsell} sell, {$totalbuy} buy</td></tr>
</table>
</div>
<div class="news margin">
	<p>Your account status is <b>Member</b></p>
	<h2>Upload Statics</h2>
	<p>
		You have uploaded <b>{$uploads}</b> market cache/logfiles.<br />
		For these logfiles you have been awarded <b>{if $credits}{$credits|number_format:2}{else}0{/if}</b> credits.
	</p>
	<p>
		Your upload key is '<b>{$metadata->upload_key}</b>'.
	</p>
	<p>
		Start <a href="{$site.root}uploader/display">uploading</a> now! If you do not have our uploader yet, get the latest version of our uploader <a href="{$site.root}downloads">here</a>!
	</p>
</div>
<div class="clear"></div>
</div></div>