<div class="glass">
	<div class="block">
	<h1>Change API information</h1>
	{if $success}
		<div class="success">Your character preferences have been saved. Data will be updated periodically for the selected characters.</div>
	{/if}
	{if $error}
		<div class="error">{$error}</div>
	{/if}
<form method="post" class="clean">
	
	{foreach $accounts "nr" "account"}
	<div class="margin">
		<h2>Account {$nr+1} <small><a href="{$site.root}player/apiremove/{$account->userID}">remove</a></small></h2>
		<dl>
		<dt><b>User Id:</b> {$account->userID}</dt>
		<dt><b>Api Key:</b> {$account->fullApiKey}</dt>
		</dl>
		{if $characters_used[$nr]}
			<p>Check the characters you would like to use</p>
			<table class="clean middle"><tr>
			{foreach $characters_used[$nr] "character"}
			<td width="3%"><img src="http://image.eveonline.com/Character/{$character->characterID}_32.jpg" valign="top" /></td><td width="3%"><input type="checkbox" name="newcharacters[{$account->userID}][{$character->characterID}]" value="1" {if $character->selected}checked="checked"{/if}/></td><td width="27%">{$character->name} <br /><i>{$character->corporationName}</i></td>
			{/foreach}
			</tr></table>
		{/if}
	</div>

	{/foreach}
	<div class="margin">
		<h2>Add new account</h2>
		<p>Your can find the user id and API key for your EVE account <a href="http://api.eveonline.com/">here</a>.</p>
		<p>Enter your EVE User Id</p>
		<input type="text" name="newuserid" value="{$newuserid}" />
		<p>Enter your api key (limited works, but we don't get as much useable information)</p>
		<input type="text" name="newapikey" value="{$newapikey}" size="90"/>

		<p class="glass">NOTE!: After you add a new account and characters it might take a little while for the server to catch up to the fact that you just added them. Normally this shouldn't take more than a few minutes.</p>
	</div>
	
		<input type="submit" name="savecharacters" class="margin" value="Save"> or <a href="{$site.root}player">return</a>
	</div>
</form>
</div>