<div class="glass">
	<div class="block">
		<h1>API Keys</h1>
		{if $action == 'deleted'}
		<div class="success">Your API key has been deleted</div>
		{elseif $action == 'added'}
		<div class="success">Your API key has been added</div>
		{/if}
		<form method="post" class="clean">
		<h2>Add new key</h2>
		<div class="margin">
			<p>Create an custom API key for EVE Marketeer <a href="http://support.eveonline.com/api/Key/CreatePredefined/134217727" target="_blank">here</a>. Of course, you can also select lesser permissions, though we cannot guarantee the whole website will continue to work as expected.</p>
			<p>Enter your API Key ID</p>
			<input type="text" name="newkeyid" value="{$newkeyid}" />
			<p>Enter your API Key vCode</p>
			<input type="text" name="newvcode" value="{$newvcode}" size="90"/>
		</div>
		{foreach $keys "nr" "key"}
		<div class="block alt margin">
			<h2>Key {$nr+1} <small><a href="{$site.root}player/apinew/remove/{$key->keyID}">remove</a></small></h2>
			<dl>
			<dt><b>Key ID:</b> {$key->keyID}</dt>
			<dt><b>vCode:</b> {$key->vCode}</dt>
			
			{if $key->keyinfo}
				<dt><b>Key Type</b>: {$key->keyinfo->type} </dt>
			</dl>
				<table class="clean middle"><tr>
				{foreach $key->characters "character"}
				<td width="3%"><img src="http://image.eveonline.com/{if $key->keyinfo->type=='Corporation'}Corporation/{$character->corporationID}_32.png{else}Character/{$character->characterID}_32.jpg{/if}" valign="top" /></td><td width="30%">{if $key->keyinfo->type=='Corporation'}{$character->corporationName} <br /><i>{$character->characterName}</i>{else}{$character->characterName} <br /><i>{$character->corporationName}</i>{/if}</td>
				{/foreach}
				</tr></table>
				<div>
					<table class="clean margin">
						<tr>
						{foreach $key->access "nr" "row"}
						{if $nr%4 == 0 && $nr != 0}</tr><tr>{/if}<td class="{if $row->active}green{else}red{/if}" width="25%" title="{$row->description}">{$row->api}</td>
						{/foreach}
						{$to=count($key->access)}
						{$to=$to%4}
						{if $to > 0}
						{$to=$to*-1+4}
						{for i 1 $to}
						<td></td>
						{/for}
						{/if}
						</tr>
					</table>
				</div>
			{else}
			</dl>
				<div>Please wait a minute while the information for this key is obtained. If you do not see it within a few minutes, you might have made a mistake with your key. If you are sure everything is correct, please contact support.</div>
			{/if}
			
		</div>
		{/foreach}
		<input type="submit" class="margin" value="Save">
		</form>
	</div>
</div>