<div class="glass">

{if $result=='success'}<div class="success">Registered corporation successfully updated!</div>{/if}
<form method="post">
<div class="block">
	<h1>Register corporation</h1>
	<p>Select the corporations for which you would like to see information on this website. <b>NOTE: You can only select corporations where you are at least a director.</b></p>

{foreach $corporations "corp"}
<h1><input type="checkbox" name="newcorp[{$corp->characterID}]" value="{$corp->corporationID}" {if $corp->registered != null}checked="checked"{/if} /> <img valign="middle" src="http://image.eveonline.com/Corporation/{$corp->corporationID}_32.png"> {$corp->corporationName} <small>({$corp->name})</small></h1>
{foreachelse}
<p>No corporation found</p>
{/foreach}
<input type="submit" name="save" value="Save" /> or <a href="{$site.root}player">return</a></div>
</form>
</div>