<div class="glass">
<div class="block">
	<h1>Information for {$user->name}</h1>
	<div class="blocklink"><img src="{$site.root}res/img/password.png" height="32" /><a href="{$site.root}player/password">Change Account Information</a></div>
</div>
</div>