<div class="glass">
	<div class="block">
		<h1>My Market</h1>
		<div class="tabs">
			<ul>
				<li><a href="#account">Account Overview</a></li>
				{*<li><a href="#myorders">Your Orders</a></li>
				<li><a href="#mytransactions">Your Transactions</a></li>
				<li><a href="#mywallets">Your Wallets</a></li>*}
				<li><a href="#uploadhistory">Upload History</a></li>
				<li><a href="#tools">Tools</a></li>
				{*<li><a href="#settings">Settings</a></li>*}
			</ul>
			<div id="account">
				
			</div>
			{*<div id="myorders">

			</div>
			<div id="mytransactions">

			</div>
			<div id="mywallets">

			</div>*}
			<div id="uploadhistory">
				
			</div>
			<div id="tools">
				
			</div>
			{*<div id="settings">

			</div>*}
		</div>
	</div>
</div>