
	
	<div class="block margin">

		<h1>Change Password</h1>
		<p>Change either your password or your account name here.</p>
		{if $success === true}
		<div class="success">GRAND SUCCESS! Your information has been changed!</div>
		{elseif $success}
			<div class="error">{$success}</div>
		{/if}
		<form method="post" class="clean">
			<dl>
				<dt>Account name</dt>
				<dd><input type="text" name="new_account_name" value="{$user->name}" /></dd>
				<dt>Enter your new password here:</dt>
				<dd><input type="password" name="new_password" /></dd>
				<dt>Please confirm:</dt>
				<dd><input type="password" name="new_password_confirm" /></dd>

				<dt><input type="submit" value="Save"> or <a href="{$site.root}player">return</a></dt>
			</dl>
		</form>
	</div>
