<div class="glass"><div class="block">
		<h1>Settings</h1>
<div style="position:relative;">
	<div class="topright">Changes are automagically saved</div>
	<h2>EveMail to Email (currently disabled)</h2>
	<dl>
		<dt>Send incoming evemails to email</dt>
		<dd>{ef 'user_settings' $settings->id 'redirect_evemail' $settings->redirect_evemail}</dd>
		<dt>Email address to send to</dt>
		<dd>{ef 'user_settings' $settings->id 'redirect_email' $settings->redirect_email}</dd>
	</dl>
	<h2>User Signatures</h2>
	<dl>
		<dt>Allow showing of image signatures</dt>
		<dd>{ef 'user_settings' $settings->id 'show_signature_information' $settings->show_signature_information} url: <a href="{$site.root}player/sig/{$session.character_id}">{$site.root}player/sig/{$session.character_id}</a></dd>
	</dl>
</div>
</div></div>