<div class="glass"><div class="block">
<h1>Upload History</h1>
<table class="clean">
	<tr><th>Item</th><th>Region</th><th style="text-align:right;">Credits</th></tr>
	{foreach $upload_history "row"}
	<tr><td width="33%">{$row->typeName}</td><td width="33%">{$row->regionName}</td><td style="text-align:right;">{$row->credits}</td></tr>
	{/foreach}
</table>
</div></div>