<h1>Ops to be confirmed</h1>
<table class="clean">
	<tr>
		<th width="5%">ID</th><th width="20%">Reference</th><th width="25%">System</th><th width="20%">Created</th><th width="20%">Closed</th><th width="10%">Members</th>
	</tr>
	{foreach $entries "op"}{if $op->closed && $op->confirmed == false}
	<tr class="clickable" onclick="window.location='{$site.root}wormhole/op/{$op->id}';">
		<td>{$op->id}</td><td><a href="{$site.root}wormhole/op/{$op->id}">{$op->name}</a></td><td>{$op->system}</td><td>{$op->created}</td><td>{$op->closed}</td><td width="10%">{$op->members|count}</td>
	</tr>
	{/if}{/foreach}
</table>
<h1>Confirmed ops</h1>
<table class="clean">
	<tr>
		<th width="5%">ID</th><th width="20%">Reference</th><th width="25%">System</th><th width="20%">Created</th><th width="20%">Closed</th><th width="10%">Members</th>
	</tr>
	{foreach $entries "op"}{if $op->confirmed}
	<tr class="clickable" onclick="window.location='{$site.root}wormhole/op/{$op->id}';">
		<td>{$op->id}</td><td><a href="{$site.root}wormhole/op/{$op->id}">{$op->name}</a></td><td>{$op->system}</td><td>{$op->created}</td><td>{$op->closed}</td><td width="10%">{$op->members|count}</td>
	</tr>
	{/if}{/foreach}
</table>
<div class="blocklink margin">
	<img src="{$site.root}core/res/img/icon32/folder.png" height="32" /><a href="{$site.root}wormhole/paidops">Ops Archive</a>
</div>