<h1>Create new op</h1>
<script>
	function showCan() {
		if($('#optype_select option:selected').attr('rel') == '1') {
			$('#canselector').show();
		} else {
			$('#canselector').hide();
		}
	}
	$(document).ready(function() {
		showCan();
	})
</script>
<div class="block margin">
	<form method="post">
		<dl>
			<dt>Op reference/name</dt>
			<dd><input type="text" name="record[name]" /></dd>
			<dt>System</dt>
			<dd><input type="text" name="record[system]" /></dd>
			<dt>Op type</dt>
			<dd><select id="optype_select" name="record[optype_id]" onchange="showCan(this);">
				{foreach $types "type"}
				<option value="{$type->id}" rel="{$type->uses_can}">{$type->name}</option>
				{/foreach}
			</select></dd>
			<div id="canselector">
				<dt>Can #</dt>
				<dd><select name="record[opcan_id]">
					<option value="">--select can--</option>
					{foreach $cans "can"}
					<option value="{$can->id}">{$can->name}</option>
					{/foreach}
				</select></dd>
			</div>
			<dt>&nbsp;</dt>
			<dd><input type="submit" name="submit" value="Create" /> or <a href="{$site.root}wormhole">back</a></dd>
		</dl>
	</form>
</div>