<h1>My current ops</h1>

<table class="clean">
	<tr>
		<th width="5%">ID</th><th width="15%">Ref</th><th width="20%">System</th><th width="20%">Created</th><th width="20%">Closed</th><th width="10%">Members</th><th width="10%">Total ISK</th>
	</tr>
	{foreach $entries "op"}
		{if !$op->closed && $op->partofop}
		<tr class="clickable" onclick="window.location='{$site.root}wormhole/op/{$op->id}';">
			<td width="5%"><a href="{$site.root}wormhole/op/{$op->id}">{$op->id}</a></td><td width="15%">{$op->name}</td><td width="25%">{$op->system}</td><td width="20%">{$op->created|date_format:"%m/%d/%Y %R"}</td><td width="20%">{if $op->closed}{$op->closed|date_format:"%m/%d/%Y %R"}{else}---{/if}</td><td width="10%">{$op->members|count}</td><td style="text-align:right;">{if $op->profit}{number_format $op->profit}{else}None{/if}</td>
		</tr>
		{/if}
	{/foreach}
</table>
<h1>Available ops</h1>

<table class="clean">
	<tr>
		<th width="5%">ID</th><th width="15%">Ref</th><th width="20%">System</th><th width="20%">Created</th><th width="20%">Closed</th><th width="10%">Members</th><th width="10%">Total ISK</th>
	</tr>
	{foreach $entries "op"}
		{if !$op->closed && !$op->partofop}
		<tr class="clickable" onclick="window.location='{$site.root}wormhole/op/{$op->id}';">
			<td width="5%"><a href="{$site.root}wormhole/op/{$op->id}">{$op->id}</a></td><td width="15%">{$op->name}</td><td width="25%">{$op->system}</td><td width="20%">{$op->created|date_format:"%m/%d/%Y %R"}</td><td width="20%">{if $op->closed}{$op->closed|date_format:"%m/%d/%Y %R"}{else}---{/if}</td><td width="10%">{$op->members|count}</td><td style="text-align:right;">{if $op->profit}{number_format $op->profit}{else}None{/if}</td>
		</tr>
		{/if}
	{/foreach}
	<tr>
		<td colspan="7">
			<a href="{$site.root}wormhole/create">Create new op</a>
		</td>
	</tr>
</table>
<h1>Closed ops</h1>
<table class="clean">
	<tr>
		<th width="5%">ID</th><th width="15%">Reference</th><th width="10%">System</th><th width="15%">Created</th><th width="15%">Closed</th><th width="10%">Members</th><th width="10%">Confirmed</th><th width="10%">Paid</th><th width="10%">Total ISK</th>
	</tr>
	{foreach $entries "op"}{if $op->closed}
	<tr class="clickable" onclick="window.location='{$site.root}wormhole/op/{$op->id}';">
		<td width="5%"><a href="">{$op->id}</a></td><td width="15%">{$op->name}</td><td>{$op->system}</td><td>{$op->created|date_format:"%m/%d/%Y %R"}</td><td>{$op->closed|date_format:"%m/%d/%Y %R"}</td><td width="10%">{$op->members|count}</td><td>{if $op->confirmed}<span class="green">Y</span>{else}<span class="red">N</span>{/if}</td><td>{if $op->paid}<span class="green">Y</span>{else}<span class="red">N</span>{/if}</td><td style="text-align:right;">{if $op->profit}{number_format $op->profit}{else}None{/if}</td>
	</tr>
	{/if}{/foreach}
</table>