<h1>Update Prices</h1>
<select onchange="window.location = root+'wormhole/easypricing/'+$(this).val(){if $currentorder}+'/{$currentorder}'{/if};">
	<option value="all">All</option>
	{foreach $optypes "type"}
	<option value="{$type->id}" {if $currenttype == $type->id}selected="selected"{/if}>{$type->name}</option>
	{/foreach}
</select> order by 
<select onchange="window.location = root+'wormhole/easypricing/{$currenttype}/'+$(this).val();">
	<option value="id" {if $currentorder == "id"}selected="selected"{/if}>ID</option>
	<option value="name" {if $currentorder == "name"}selected="selected"{/if}>Name</option>
	<option value="type_id" {if $currentorder == "type_id"}selected="selected"{/if}>Type ID</option>
	<option value="price" {if $currentorder == "price"}selected="selected"{/if}>Price</option>
	<option value="currently_buying" {if $currentorder == "currently_buying"}selected="selected"{/if}>Currently Buying</option>
</select>
<form method="post" class="margin">
<table class="clean">
	<tr>
		<th>Item</th><th>Price</th><th>Buying?</th>
	</tr>
{foreach $items "item"}
<tr>
	<td width="50%">{itemlink $item->type_id $item->name}</td><td><input type="text" name="prices[{$item->id}]" value="{$item->price}" style="text-align:right;"/></td><td><input type="checkbox" value="1" name="buying[{$item->id}]" {if $item->currently_buying}checked="checked"{/if} /></td>
</tr>
{/foreach}
</table>
	<input type="submit" value="Save" />
</form>