<h1>Please select a character to join with</h1>
<table class="clean middle">
{foreach $characters "char"}
<tr><td><a href="{$site.root}wormhole/joinop/{$opid}/{$char->characterID}"><img src="http://image.eveonline.com/Character/{$char->characterID}_64.jpg"/></a></td><td><span style="font-size:large;"><a href="{$site.root}wormhole/joinop/{$opid}/{$char->characterID}">{$char->name}</a></span></td></tr>
{/foreach}
</table>