<form method="post">
<h1>Op {$op->id} "{$op->name}"</h1>
{if !$op->closed}
<div class="block margin">
	<a href="{$site.root}wormhole/closeop/{$op->id}" class="blocklink dark">Close/end op</a>
	<div class="topright">Join!: <a href="{$site.root}wormhole/joinop/{$op->id}">{$site.root}wormhole/joinop/{$op->id}</a></div>
</div>
{elseif $user->check_level(90) && !$op->confirmed}
<div class="block margin">
	<a href="{$site.root}wormhole/confirmop/{$op->id}" class="blocklink dark">Confirm</a>
</div>
{else}
<h1>CLOSED{if $op->confirmed}, CONFIRMED{/if}{if $op->paid}, PAID{/if}</h1>
{/if}

<div class="block margin line">
	<b>Location:</b> {$op->system}<br/>
	<b>Can #:</b> {if $user->check_level(3) && $op->confirmed==false}<select name="canadjust"><option value="{$can->id}">{$can->name}</option>{foreach $cans "cani"}<option value="{$cani->id}">{$cani->name}</option>{/foreach}</select><input type="submit" value="Save" />{else}{$can->name}{/if}<br  />
	<b>Op type:</b> {$optype->name} ({$optype->id})
</div>
<div class="news margin">
	<h1>Members</h1>
	<table class="clean">
		<tr>
			<th>Name</th>{if $op->confirmed==false && !$op->closed}<th>Kicked</th>{/if}{if $user->check_level(3) && $op->confirmed==false}<th>Del</th>{/if}
		</tr>
		{foreach $members "member"}
		<tr>
			<td>{$member->name}</td>{if $op->confirmed==false && !$op->closed}<td>{if $member->kicked}Yes{else}<a href="{$site.root}wormhole/kickop/{$op->id}/{$member->id}">Kick</a>{/if}</td>{/if}{if $user->check_level(3) && $op->confirmed==false}<td><a href="{$site.root}wormhole/removeop/{$op->id}/{$member->id}">X</a></td>{/if}
		</tr>
		{/foreach}
		{if !$partofop && (!$op->closed || ($user->check_level(3) && $op->confirmed==false))}
		<tr>
			<td><a href="{$site.root}wormhole/joinop/{$op->id}">Join op!</a></td>
		</tr>
		{/if}
	</table>
	{if $user->check_level(3) && $op->confirmed==false}
		Add Member: <select name="addcharacter">
			<option value="">-- please select --</option>
			{foreach $characters "character"}
			<option value="{$character->user_id}_{$character->characterID}_{$character->name}">{$character->name}</option>
			{/foreach}
		</select>
		<input type="submit" value="Save" />
		{/if}
	<h1>Comments</h1>
	<div class="block line">{$op->notes}</div>
	{if !$op->closed || ($user->check_level(3) && $op->confirmed==false)}<textarea name="add_comment" class="fullwidth" rows="8"></textarea>
	<input type="submit" value="Save" />{/if}
	
</div>
<div class="mainmenu margin">
	<h1>Loot</h1>
	<table class="clean middle" style="margin-top:2px;">
		<tr>
			<th>Item</th><th>Quantity</th><th style="text-align:right;">Price</th>
		</tr>
		{foreach $loot "item"}
		<tr>
			<td width="50%">{itemlink $item->type_id $item->name}</td><td>{if !$op->closed || ($user->check_level(3) && $op->confirmed==false)}<input type="text" name="loot[{$item->id}]" value="{$item->amount}" />{else}{$item->amount}{/if}</td><td style="text-align:right;">{number_format $item->price 2}</td>
		</tr>
		{/foreach}
		<tr>
			<td></td><td>Total Value:</td><td style="text-align:right;">{number_format $total}</td>
		</tr>
		<tr>
			<td></td><td>Member Share:</td><td style="text-align:right;">{number_format $part}</td>
		</tr>
	</table>
	{if !$op->closed || ($user->check_level(3) && $op->confirmed==false)}<input type="submit" value="Save" />{/if}
</div>
</form>