<h1>Paid ops</h1>
<table class="clean">
	<tr>
		<th width="5%">ID</th><th width="15%">Reference</th><th width="10%">System</th><th width="15%">Created</th><th width="15%">Closed</th><th width="10%">Members</th><th width="10%">Confirmed</th><th width="10%">Paid</th><th width="10%">Total ISK</th>
	</tr>
	{foreach $entries "op"}
	<tr class="clickable" onclick="window.location='{$site.root}wormhole/op/{$op->id}';">
		<td width="5%"><a href="">{$op->id}</a></td><td width="15%">{$op->name}</td><td>{$op->system}</td><td>{$op->created|date_format:"%m/%d/%Y %R"}</td><td>{$op->closed|date_format:"%m/%d/%Y %R"}</td><td width="10%">{$op->members|count}</td><td>{if $op->confirmed}<span class="green">Y</span>{else}<span class="red">N</span>{/if}</td><td>{if $op->paid}<span class="green">Y</span>{else}<span class="red">N</span>{/if}</td><td style="text-align:right;">{if $op->profit}{number_format $op->profit}{else}None{/if}</td>
	</tr>
	{/foreach}
</table>
{if $prev_page}<a href="{$prev_page}">Prev</a>{/if} {if $next_page}<a href="{$next_page}">Next</a>{/if}