<h1>Payment</h1>
<h2>Ops to pay</h2>
<table class="clean">
	<tr>
		<th>ID</th><th>Op reference</th><th style="text-align:right;">Total</th>
	</tr>
	{foreach $opstopay "op"}
	<tr class="clickable" onclick="window.location='{$site.root}wormhole/op/{$op->id}';">
		<td width="5%">{$op->id}</td><td width="65%"><a href="{$site.root}wormhole/op/{$op->lc_op_id}">{$op->name}</a></td><td style="text-align:right;">{number_format $op->total}</td>
	</tr>
	{/foreach}
	<tr><td></td><td style="text-align:right;" width="70%">Total:</td><td style="text-align:right;">{number_format $opstotal}</td></tr>
</table>
<h2>Members to pay</h2>
<table class="clean">
	<tr>
		<th>Character</th><th style="text-align:right;">Payment</th>
	</tr>
	{foreach $characters "charID" "char"}
	<tr>
		<td width="70%"><a href="javascript:;" onclick="CCPEVE.showInfo(1377, {$charID});">{$char.name}</a></td><td style="text-align:right;">{number_format $char.payment}</td>
	</tr>
	{/foreach}
	<tr><td style="text-align:right;" width="70%">Total: </td><td style="text-align:right;">{number_format $chartotal}</td></tr>
</table>
<div class="blocklink margin">
	<img src="{$site.root}core/res/img/icon32/money_bookers.png" height="32" /><a href="{$site.root}wormhole/dopayment">Finalize (I have paid all the characters above the said amount)</a>
</div>
