<h1>Current PI Needs</h1>
<table class="clear">
	<tr><th>Item</th><th>Price</th></tr>
	{foreach $needed "item"}{if $item->currently_buying}
	<tr><td>{itemlink $item->type_id $item->name}</td><td>{$item->price}</td></tr>
	{/if}{/foreach}
</table>
<h1>Current Stop Buy List</h1>
<table class="clear">
	<tr><th>Item</th><th>Price</th></tr>
	{foreach $needed "item"}{if !$item->currently_buying}
	<tr><td>{itemlink $item->type_id $item->name}</td><td>{$item->price}</td></tr>
	{/if}{/foreach}
</table>