<h1>Waiting for payment</h1>
<table class="clean">
	<tr>
	<th width="5%">ID</th><th width="20%">Reference</th><th width="25%">Type</th><th width="25%" style="text-align:right;">Total</th><th width="25%" style="text-align:right;">Your share</th>
</tr>
{foreach $ops "op"}{if !$op->paid}
<tr class="clickable" onclick="window.location='{$site.root}wormhole/op/{$op->id}';">
	<td width="5%"><a href="{$site.root}wormhole/op/{$op->id}">{$op->id}</a></td><td width="20%">{$op->name}</td><td width="25%">{$op->optype}</td><td width="25%" style="text-align:right;">{number_format $op->total}</td><td width="25%" style="text-align:right;">{number_format $op->total_earned}</td>
</tr>
{/if}{/foreach}
<tr>
	<td></td><td></td><td></td><td style="text-align:right;"><b>Total:</b> </td><td style="text-align:right;">{number_format $total_waiting}</td>
</tr>
</table>
<h1>Total Earnings</h1>
<table class="clean">
	<tr>
	<th width="5%">ID</th><th width="20%">Reference</th><th width="25%">Type</th><th width="25%" style="text-align:right;">Total</th><th width="25%" style="text-align:right;">Your share</th>
</tr>
{foreach $ops "op"}{if $op->paid}
<tr class="clickable" onclick="window.location='{$site.root}wormhole/op/{$op->id}';">
	<td width="5%"><a href="{$site.root}wormhole/op/{$op->id}">{$op->id}</a></td><td width="20%">{$op->name}</td><td width="25%">{$op->optype}</td><td width="25%" style="text-align:right;">{number_format $op->total}</td><td width="25%" style="text-align:right;">{number_format $op->total_earned}</td>
</tr>
{/if}{/foreach}
<tr>
	<td></td><td></td><td></td><td style="text-align:right;"><b>Total:</b> </td><td style="text-align:right;">{number_format $total_paid}</td>
</tr>
</table>