<div class="glass">
	<div class="block">
		<h1>Downloads</h1>
		<h2>Uploader</h2>
		<p>Use MSI if you do not know which to choose.</p>
		<table class="clean">
			<tr><th>Version</th><th>Changelog</th><th>MSI Download</th><th>Zip Download</th></tr>
			{foreach $versions "version"}
				<tr><td>{$version->name}</td><td>{$version->description}</td><td>{if $version->msi_file}<a href="{$site.root}var/files/{$version->msi_file}">Download</a>{/if}</td><td>{if $version->zip_file}<a href="{$site.root}var/files/{$version->zip_file}">Download</a>{/if}</td></tr>
			{/foreach}
		</table>
	</div>
</div>