{% extends "layout.html.twig" %}

{% block content_header '' %}

{% block pageheader %}<h1><i class="fa fa-gear"></i> {{ type.typeName }}</h1>{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="//code.highcharts.com/stock/highstock.js"></script>
	<script type="text/javascript" src="//code.highcharts.com/stock/highcharts-more.js"></script>
	<script>
		var trendDrawn = false;
		var historyDrawn = false;
		function drawTrend() {
			if (trendDrawn) return;
			trendDrawn = true;
			$('#trend_chart_div').highcharts('StockChart', {
				rangeSelector : {
					selected : 1
				},

				title : {
					text : 'Trend'
				},

				series : [{
					type : 'candlestick',
					name : '{{ type.typeName }}',
					data : {{ type.getHistoryTrendByRegion(app.user.primaryRegion, true)|json_encode(constant('JSON_NUMERIC_CHECK'))|raw }},
					tooltip: {
						valueDecimals: 2
					}
				}]
			});
		}
		function drawHistory() {
			if (historyDrawn) return;
			historyDrawn = true;
			var basedata = {{ type.getHistoryGraphByRegion(app.user.primaryRegion, true)|json_encode(constant('JSON_NUMERIC_CHECK'))|raw }};
			var average = [];
			var average5 = [];
			var average20 = [];
			var ohlc = [];
			var don = [];
			for(var i = 0; i < basedata.length; i++) {
				average.push([basedata[i][0], basedata[i][1]]);
				average5.push([basedata[i][0], basedata[i][2]]);
				average20.push([basedata[i][0], basedata[i][3]]);
				ohlc.push([basedata[i][0], null, basedata[i][6], basedata[i][7], null]);
				don.push([basedata[i][0], basedata[i][4], basedata[i][5]]);
			}

			$('#history_chart_div').highcharts('StockChart', {
				rangeSelector : {
					selected : 1
				},

				title : {
					text : 'History'
				},

				series : [{
					type : 'arearange',
					name : 'Donchian',
					data : don,
					lineColor: 'rgba(90,43,41,1)',
					lineWidth: 1,
					fillColor: 'rgba(60, 25, 25, 0.5)'
				}, {
					type : 'ohlc',
					name : 'High/Low',
					data : ohlc,
					color: '#FFD419'
				}, {
					name : 'Average 5d',
					data : average5,
					color: '#EB1301'
				}, {
					name : 'Average 20d',
					data : average20,
					color: '#64D753'
				}, {
					name : 'Average',
					data : average,
					color: '#FFE70E',
					lineWidth : 0,
					marker : {
						enabled : true,
						radius : 2
					}
				}]
			});
		}

		$('.nav-tabs li.history-tab-action').click(function() { setTimeout(drawHistory,100) });
		$('.nav-tabs li.trend-tab-action').click(function() { setTimeout(drawTrend,100) });
	</script>
{% endblock %}

{% block content %}
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab_stats" data-toggle="tab"><i class="fa fa-bullseye"></i> Statistics</a></li>
		<li class=""><a href="#tab_orders" data-toggle="tab"><i class="fa fa-bars"></i> Orders</a></li>
		<li class="history-tab-action"><a href="#tab_history" data-toggle="tab" ><i class="fa fa-table"></i> History</a></li>
		<li class="trend-tab-action"><a href="#tab_trends" data-toggle="tab" ><i class="fa fa-signal"></i> Trends</a></li>
		<li class="disabled"><a href="#tab_production" ><i class="fa fa-gear"></i> Production</a></li>
	</ul>
	<div class="tab-content bottom-margin">
		<div class="tab-pane active" id="tab_stats">
			<div class="shadowed-bottom">
				<div class="row">
					<div class="col-md-4">
						<div class="value-block">
							<div class="value-self">{{ type.getStatisticsByRegion(app.user.primaryRegion).sellPercentile10|number_format(2) }}</div>
							<div class="value-sub">Sell Price</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="value-block">
							<div class="value-self">{{ type.getStatisticsByRegion(app.user.primaryRegion).buyPercentile90|number_format(2) }}</div>
							<div class="value-sub">Buy Price</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="value-block">
							<div class="value-self">{{ type.getStatisticsByRegion(app.user.primaryRegion).updated|time_ago_in_words }}</div>
							<div class="value-sub">Updated</div>
						</div>
					</div>
				</div>
			</div>
			<div class="padded">
				<table class="table">
					<tr>
						<th>Region</th>
						<th>Sell Price</th>
						<th>Buy Price</th>
						<th>Updated</th>
					</tr>
					{% for region in app.user.regions %}
						<tr>
							<td>
								{{ region.regionName }}
							</td>
							<td>
								{{ type.getStatisticsByRegion(region).sellPercentile10|number_format(2) }}
							</td>
							<td>
								{{ type.getStatisticsByRegion(region).buyPercentile90|number_format(2) }}
							</td>
							<td>
								{{ type.getStatisticsByRegion(region).updated|time_ago_in_words }}
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
		<div class="tab-pane" id="tab_orders">
			<div class="shadowed-bottom">
				<div class="row">
					<div class="col-md-4">
						<div class="value-block">
							<div class="value-self">{{ type.getStatisticsByRegion(app.user.primaryRegion).sellAvailable|number_format }}</div>
							<div class="value-sub">Available</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="value-block">
							<div class="value-self">{{ type.getStatisticsByRegion(app.user.primaryRegion).buyAvailable|number_format }}</div>
							<div class="value-sub">Wanted</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="value-block">
							<div class="value-self">{{ type.getStatisticsByRegion(app.user.primaryRegion).sellCount }} / {{ type.getStatisticsByRegion(app.user.primaryRegion).buyCount }}</div>
							<div class="value-sub">Orders</div>
						</div>
					</div>
				</div>
			</div>
			<div class="padded">
				<h2>Sell</h2>
				<table class="table">
					<tr>
						<th style="width:40%;">Location</th>
						<th>Price</th>
						<th>Volume</th>
						<th>Minimum</th>
					</tr>
					{% for order in type.getOrdersByRegion(app.user.primaryRegion, { 'price': 'asc' }) if order.isBid == false and order.bullshit == false %}
						<tr>
							<td>{{ order.station.itemName }}</td>
							<td>{{ order.price }}</td>
							<td>{{ order.volumeRemaining }} / {{ order.volumeEntered }}</td>
							<td>{{ order.volumeMinimum }}</td>
						</tr>
					{% endfor %}
				</table>
				<h2>Buy</h2>
				<table class="table">
					<tr>
						<th style="width:40%;">Location</th>
						<th>Price</th>
						<th>Volume</th>
						<th>Minimum</th>
					</tr>
					{% for order in type.getOrdersByRegion(app.user.primaryRegion, { 'price': 'desc' }) if order.isBid == true and order.bullshit == false %}
						<tr>
							<td>{{ order.station.itemName }}</td>
							<td>{{ order.price }}</td>
							<td>{{ order.volumeRemaining }} / {{ order.volumeEntered }}</td>
							<td>{{ order.volumeMinimum }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
		<div class="tab-pane" id="tab_history">
			<div class="shadowed-bottom">
				<div class="row">
					<div id="history_chart_div" style="width: 100%; height: 500px;"></div>
				</div>
			</div>
			<div class="padded">

				<table class="table">
					<tr>
						<th>Date</th>
						<th>Low</th>
						<th>High</th>
						<th>Average</th>
						<th>Orders</th>
						<th>Quantity</th>
					</tr>
					{% for day in type.history %}
						<tr>
							<td>{{ day.date.format('Y-m-d') }}</td>
							<td>{{ day.low }}</td>
							<td>{{ day.high }}</td>
							<td>{{ day.average }}</td>
							<td>{{ day.orders }}</td>
							<td>{{ day.quantity }}</td>
						</tr>
					{% endfor %}
				</table>

			</div>
		</div>
		<div class="tab-pane" id="tab_trends">
			<div class="shadowed-bottom">
				<div class="row">

				</div>
			</div>
			<div class="padded">
				<div id="trend_chart_div" style="width: 100%; height: 500px;"></div>
			</div>
		</div>
		<div class="tab-pane" id="tab_production">
			<div class="shadowed-bottom">
				<div class="row">

				</div>
			</div>
			<div class="padded">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab_manufacturing" data-toggle="tab"><i class="fa fa-gears"></i> Manufacturing & Research</a></li>
					<li class=""><a href="#tab_invention" data-toggle="tab"><i class="fa fa-lightbulb-o"></i> Invention</a></li>
					<li class=""><a href="#tab_pi" data-toggle="tab"><i class="fa fa-globe"></i> PI</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab_manufacturing">
						<div class="shadowed-bottom">
							<div class="row">

							</div>
						</div>
						<div class="padded">

						</div>
					</div>
					<div class="tab-pane" id="tab_invention">
						<div class="shadowed-bottom">
							<div class="row">

							</div>
						</div>
						<div class="padded">

						</div>
					</div>
					<div class="tab-pane" id="tab_pi">
						<div class="shadowed-bottom">
							<div class="row">

							</div>
						</div>
						<div class="padded">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
