<div class="glass">
	<div class="block">
		<h1>API Methods</h1>
		<p>All API methods make use of the combined data of EVE Central, EVE Marketdata and EVE Marketeer.<br /><br /></p>
		<div class="accordion">
		<h3><a>Upload (EVE Universal Market Upload Format)</a></h3><div>
		<p>Upload market information to EVE Marketeer. Requests are made against the URL below with either a GET or POST call (preferably post). The call must contain ALL the parameters detailed below.</p>
		<p><a>URL</a>
			<div>
				<a href="{$site.root}api/upload" target="_blank">{$site.root}api/upload</a>
			</div>
		</p>
		<p><a>Parameters</a>
		<pre style="width:100%;overflow:hidden;">
upload_type		: the type of the upload (possible: orders, history)
region_id		: the region id for which this data is valid
type_id			: the type id for which this data is valid
log			: the actual marketdata, format detailed below
upload_key		: the key used to uniquely identify a user at a target website
developer_key		: a key used to uniquely identify the uploader program being used
version			: the version of the upload format (used when determining how to parse log)
generated_at		: a timestamp of the date/time this data was generated (format: 2011-10-21 11:45:30)</pre></p>
		<p><a>Log Format</a>
			<pre>
All uploads use a comma separated format to contain the data. The fields must be 
presented in the order below, separated by a ',' character. Every new line is 
either a new order or a new history date.

ORDER UPLOAD FORMAT (uses upload_type = 'order')
----
order_id		: the ID of the order
buysell			: whether the order is a buy or sell order (possible: b, s)
solar_system_id	: the solar system where the order is placed 
station_id		: the station where the order is placed
price			: the price of the order
vol_entered		: the amount that was originally entered
vol_remaining		: the amount that is currently remaining
min_volume		: the minimum amount that the order is selling
issue_datetime		: the date/time the order was issued (format: 2011-10-21 11:45:30)
duration		: the amount of days the order will be active
range			: the range the order extends

HISTORY UPLOAD FORMAT (uses upload_type = 'history')
----
history_date		: the date for which this history counts
low_price		: the lowest price at which a transaction took place
high_price 		: the highest price at which a transaction took place
avg_price		: the average price at which a transaction took place
volume			: the volume of items that was traded this day
orders			: the amount of order that were involved in transactions today
			</pre>
		</p>
		<p><a>Log Format Example</a>
		<pre>
2288279261,s,30002053,60005686,1299999.99,40,40.0,1,2011-09-10 12:16:33,90,32767
2322655203,s,30002053,60005686,1299998.54,88,25.0,1,2011-10-18 21:59:51,90,32767
2277664485,s,30002057,60005704,1200000.0,1,1.0,1,2011-08-30 03:26:02,90,32767
2273132650,s,30002058,60014134,1351001.01,1,1.0,1,2011-08-25 17:53:55,90,32767
2272544022,s,30002058,60014134,1351001.01,4,3.0,1,2011-08-25 00:53:21,90,32767
2323200387,s,30002060,60005710,1499950.0,15,15.0,1,2011-10-18 18:53:25,90,32767
2322898713,s,30002068,60004549,1100000.0,1,1.0,1,2011-10-18 10:15:46,90,32767
2322899046,s,30002068,60004549,1100000.0,2,2.0,1,2011-10-18 10:16:24,90,32767
2067522585,s,30002093,60002128,1399900.98,20,20.0,1,2011-10-11 08:15:04,90,32767
2277336114,s,30003389,60002137,1485000.0,30,11.0,1,2011-08-29 19:46:35,90,32767
2054425118,s,30003396,60004510,1489000.0,42,4.0,1,2011-09-06 14:32:24,90,32767
2303433577,s,30003416,60014818,1299999.99,4,4.0,1,2011-09-29 09:24:32,90,32767
2312172407,s,30003431,60004705,1250000.0,1,1.0,1,2011-10-06 15:19:53,30,32767
1988213602,s,30003471,60001039,2400000.0,200,173.0,1,2011-08-30 04:16:23,90,32767
2302193065,s,30003471,60001039,1000000.0,17,2.0,1,2011-09-25 08:53:27,90,32767
2052179646,b,30002053,60005686,351001.11,100,39.0,1,2011-10-09 08:38:12,90,32767
2318501754,b,30002053,60005686,500051.03,50,50.0,1,2011-10-20 05:22:53,90,-1
2067588870,b,30002053,60005686,351001.1,50,50.0,1,2011-10-08 10:45:43,90,32767
2312391271,b,30002053,60005686,500052.0,40,40.0,1,2011-10-20 14:07:30,90,-1
2312559576,b,30002053,60005686,500053.0,100,93.0,1,2011-10-20 18:07:31,30,-1
2319892231,b,30002053,60005686,500053.01,30,22.0,1,2011-10-20 18:31:20,90,-1

		</pre>
		</p>
		<p><a>Returns</a>:
			<pre>
1:	everything went smoothly
0:	a problem occured
			</pre>
		</p></div>
		<h3><a>Item Details</a></h3><div>
		<p>Provides a list of statistics about an item for a certain region.</p>
		<p>Parameters
		<pre style="width:100%;overflow:hidden;">
type_id			: the type id of the item you wish info for (default: none,
			  special: separate with _ to query multiple id's at once)
return_format		: the format data is returned in (default: csv, possible: csv, xml, json)
region_id		: the region id of the region for which you request data (default: The Forge)
field_filter		: enter this if only a single field should be returned (default: empty)</pre></p>
		<p>Examples: <br />
			<a href="{$site.root}api/info/34" target="_blank">{$site.root}api/info/34</a><br  />
			<a href="{$site.root}api/info/34_35" target="_blank">{$site.root}api/info/34_35</a><br  />
			<a href="{$site.root}api/info/34/xml" target="_blank">{$site.root}api/info/34/xml</a><br  />
			<a href="{$site.root}api/info/34/xml/10000043" target="_blank">{$site.root}api/info/34/xml/10000043</a><br />
			<a href="{$site.root}api/info/34/xml/10000043/sell_lowest5" target="_blank">{$site.root}api/info/34/xml/10000043/sell_lowest5</a>
		</p>
		<p>Returns: 
			<pre>
type_id			: the type id for which this data applies
region_id		: the region for which this data applies
solar_system_id	: the solar system for which this data applies (0 if none)
station_id		: the station for which this data applies (0 if none)
datetime		: the time this data was generated
source			: where we got this latest data
type_name		: the name of the type you queried
region_name		: the name of the region you queried
sell_lowest		: the lowest price this item is sold for
sell_avg		: the (weighted) average price this item is sold for
sell_geo_mean		: the geometric mean of the price this item is sold for
sell_harm_mean		: the harmonious mean of the price this item is sold for
sell_highest		: the highest price this item is sold for
sell_lowest5		: the average price of the lowest 5% of the sell market
sell_orders		: the amount of sell orders
supply			: the total amount of items available
supply_in_5		: the amount of items available within 5% of the lowest sell price
sell_worth		: the cost of buying the entire sell market
buy_highest		: the highest price this item is bought for
buy_avg			: the average price this item is bought for
buy_geo_mean		: the geometric mean of the price this item is bought for
buy_harm_mean		: the harmonious mean of the price this item is bought for
buy_lowest		: the lowest price this item is bought for
buy_highest5		: the average price of the top 5% of the buy market
buy_orders		: the amount of buy orders
demand			: the total amount of items bought
demand_in_5		: the amount of items available within 5% of the highest buy price
buy_worth		: the profits of selling to the entire buy market
			</pre>
		</p></div>
		<h3><a>Jita Item Details</a></h3><div>
		<p>Provides a list of statistics about an item using only orders in Jita.</p>
		<p>Parameters
		<pre style="width:100%;overflow:hidden;">
type_id			: the type id of the item you wish info for (default: none,
			  special: separate with _ to query multiple id's at once)
return_format		: the format data is returned in (default: csv, possible: csv, xml, json)</pre></p>
		<p>Examples: <br /><a href="{$site.root}api/jita_info/34" target="_blank">{$site.root}api/jita_info/34</a><br  /><a href="{$site.root}api/jita_info/34_35" target="_blank">{$site.root}api/jita_info/34_35</a><br  /><a href="{$site.root}api/jita_info/34/xml" target="_blank">{$site.root}api/jita_info/34/xml</a></p>
		<p>Returns:
			<pre>
type_id			: the type id for which this data applies
region_id		: the region for which this data applies
solar_system_id	: the solar system for which this data applies (0 if none)
station_id		: the station for which this data applies (0 if none)
datetime		: the time this data was generated
source			: where we got this latest data
type_name		: the name of the type you queried
region_name		: the name of the region you queried
sell_lowest		: the lowest price this item is sold for
sell_avg		: the (weighted) average price this item is sold for
sell_geo_mean		: the geometric mean of the price this item is sold for
sell_harm_mean		: the harmonious mean of the price this item is sold for
sell_highest		: the highest price this item is sold for
sell_lowest5		: the average price of the lowest 5% of the sell market
sell_orders		: the amount of sell orders
supply			: the total amount of items available
supply_in_5		: the amount of items available within 5% of the lowest sell price
sell_worth		: the cost of buying the entire sell market
buy_highest		: the highest price this item is bought for
buy_avg			: the average price this item is bought for
buy_geo_mean		: the geometric mean of the price this item is bought for
buy_harm_mean		: the harmonious mean of the price this item is bought for
buy_lowest		: the lowest price this item is bought for
buy_highest5		: the average price of the top 5% of the buy market
buy_orders		: the amount of buy orders
demand			: the total amount of items bought
demand_in_5		: the amount of items available within 5% of the highest buy price
buy_worth		: the profits of selling to the entire buy market
			</pre>
		</p></div>
		<h3><a>Station Details</a></h3><div>
		<p>Provides a list of statistics about an item using only orders in a certain station.</p>
		<p>Parameters
		<pre style="width:100%;overflow:hidden;">
type_id			: the type id of the item you wish info for (default: none,
			  special: separate with _ to query multiple id's at once)
return_format		: the format data is returned in (default: csv, possible: csv, xml, json)
station_id		: the station id for which you wish to retrieve information (default: jita)</pre></p>
		<p>Examples: <br /><a href="{$site.root}api/station_info/34" target="_blank">{$site.root}api/station_info/34</a><br  /><a href="{$site.root}api/station_info/34_35" target="_blank">{$site.root}api/station_info/34_35</a><br  /><a href="{$site.root}api/station_info/34/xml" target="_blank">{$site.root}api/station_info/34/xml</a><br  /><a href="{$site.root}api/station_info/34/xml/60008494" target="_blank">{$site.root}api/station_info/34/xml/60008494</a></p>
		<p>Returns:
			<pre>
type_id			: the type id for which this data applies
region_id		: the region for which this data applies
solar_system_id	: the solar system for which this data applies (0 if none)
station_id		: the station for which this data applies (0 if none)
datetime		: the time this data was generated
source			: where we got this latest data
type_name		: the name of the type you queried
region_name		: the name of the region you queried
sell_lowest		: the lowest price this item is sold for
sell_avg		: the (weighted) average price this item is sold for
sell_geo_mean		: the geometric mean of the price this item is sold for
sell_harm_mean		: the harmonious mean of the price this item is sold for
sell_highest		: the highest price this item is sold for
sell_lowest5		: the average price of the lowest 5% of the sell market
sell_orders		: the amount of sell orders
supply			: the total amount of items available
supply_in_5		: the amount of items available within 5% of the lowest sell price
sell_worth		: the cost of buying the entire sell market
buy_highest		: the highest price this item is bought for
buy_avg			: the average price this item is bought for
buy_geo_mean		: the geometric mean of the price this item is bought for
buy_harm_mean		: the harmonious mean of the price this item is bought for
buy_lowest		: the lowest price this item is bought for
buy_highest5		: the average price of the top 5% of the buy market
buy_orders		: the amount of buy orders
demand			: the total amount of items bought
demand_in_5		: the amount of items available within 5% of the highest buy price
buy_worth		: the profits of selling to the entire buy market
			</pre>
		</p></div>
		<h3><a>Regional Item Details</a></h3><div>
		<p>Provides a list of statistics about all items for a certain region.</p>
		<p>Parameters
		<pre style="width:100%;overflow:hidden;">
return_format		: the format data is returned in (default: csv, possible: csv, xml, json)
region_id		: the region id of the region for which you request data (default: The Forge)</pre></p>
		<p>Examples: <br />
			<a href="{$site.root}api/region" target="_blank">{$site.root}api/region</a><br  />
			<a href="{$site.root}api/region/xml" target="_blank">{$site.root}api/region/xml</a><br  />
			<a href="{$site.root}api/region/xml/10000043" target="_blank">{$site.root}api/region/xml/10000043</a>
		</p>
		<p>Returns:
			<pre>
type_id			: the type id for which this data applies
region_id		: the region for which this data applies
solar_system_id	: the solar system for which this data applies (0 if none)
station_id		: the station for which this data applies (0 if none)
datetime		: the time this data was generated
source			: where we got this latest data
type_name		: the name of the type you queried
region_name		: the name of the region you queried
sell_lowest		: the lowest price this item is sold for
sell_avg		: the (weighted) average price this item is sold for
sell_geo_mean		: the geometric mean of the price this item is sold for
sell_harm_mean		: the harmonious mean of the price this item is sold for
sell_highest		: the highest price this item is sold for
sell_lowest5		: the average price of the lowest 5% of the sell market
sell_orders		: the amount of sell orders
supply			: the total amount of items available
supply_in_5		: the amount of items available within 5% of the lowest sell price
sell_worth		: the cost of buying the entire sell market
buy_highest		: the highest price this item is bought for
buy_avg			: the average price this item is bought for
buy_geo_mean		: the geometric mean of the price this item is bought for
buy_harm_mean		: the harmonious mean of the price this item is bought for
buy_lowest		: the lowest price this item is bought for
buy_highest5		: the average price of the top 5% of the buy market
buy_orders		: the amount of buy orders
demand			: the total amount of items bought
demand_in_5		: the amount of items available within 5% of the highest buy price
buy_worth		: the profits of selling to the entire buy market
			</pre>
		</p></div>
		<h3><a>Recent Updates</a></h3><div>
		<p>Provides a list of the items which have been updated in the last x minutes.</p>
		<p>Parameters
		<pre>
minutes			: how many minutes to look into the past (default: 1, maximum: 60)
return_format		: the format data is returned in (default: csv, possible: csv, xml, json)</pre></p>
		<p>Examples: <br /><a href="{$site.root}api/recent_updates" target="_blank">{$site.root}api/recent_updates</a><br  /><a href="{$site.root}api/recent_updates/5/xml" target="_blank">{$site.root}api/recent_updates/5/xml</a></p>
		<p>Returns:
			<pre>
type_id			: the type id for which this data applies
region_id		: the region for which this data applies
datetime		: the time this update was generated
			</pre>
		</p></div>
		<h3><a>Orders</a></h3><div>
		<p>Provides a list of the orders for a certain type in a certain system.</p>
		<p>Parameters
		<pre>
region_id		: the region id to return orders for
type_id			: the type id to return orders for
return_format		: the format data is returned in (default: csv, possible: csv, xml, json)</pre></p>
		<p>Examples: <br /><a href="{$site.root}api/orders/10000002/34" target="_blank">{$site.root}api/orders/10000002/34</a><br  /><a href="{$site.root}api/orders/10000002/34/xml" target="_blank">{$site.root}api/orders/10000002/34/xml</a></p>
		<p>Returns:
			<pre>
order_id		: the eve online order id of this order
type_id			: the type id of the item bought/sold
station_id		: the station id where the order is placed
solarsystem_id		: the solarsystem id where the order is placed
region_id		: the region id where the order is placed
price			: the price for which the items are bought/sold
range2			: the range at which the items are bought from the home station
duration		: how long the order will last in days
qty_total		: the total amount that was bought/sold when the order was created
qty_avail		: the total amount that is still available for sale/buy now
qty_min			: the minimum amount of items that must be bought/sold in one transaction
date_issued		: the date & time the order was issued (or updated if the order has changed)
date_expires		: the date & time at which this order will expire
date_created		: the date & time at which this order was exported from eve
date_modified		: the date & time the order was last modified in our database
completed		: whether this order is completed or not
from_source		: the source where we got this orders current information from
known_at_source	: the sources were we are aware this order exists
buy			: whether this is a buy order (if this is zero it's a sell order)
			</pre>
		</p></div>
		</div>
	</div>
</div>