<div class="glass">
	<div class="block">
		<h1>Assets for {if $type=='personal'}{$session.character->name}{else}{$session.character->corporationName} ({$session.character->corporationID}){/if}</h1>
		{if $user && $session.character_id}
		{if $session.character->isDirector}
		<form>
			<table class="clean middle">
				<tr><th>Search Assets</th><td>Item</td><td><input type="text" class="itemsearch" name="type_name" value="{$type_name}" /></td><td>Min Quantity</td><td><input type="text" name="quantity_min" value="{$quantity_min}" /></td><td>Max Quantity</td><td><input type="text" name="quantity_max" value="{$quantity_max}" /></td></tr>
				<tr><th></th><td>System</td><td><input type="text" class="solarsystem" name="solarsystem" value="{$solarsystem}" /></td><td>Min Sell Price</td><td><input type="text" name="price_min" value="{$price_min}" /></td><td>Max Sell Price</td><td><input type="text" name="price_max" value="{$price_max}" /></td></tr>
				<tr><th><input type="submit" value="Search" /></th><td>Region</td><td><input type="text" class="regionsearch" name="region" value="{$region}" /></td><td></td><td></td><td></td><td></td></tr>
			</table>
		</form>
		{$items = $result.glob}
		{$location = ''}
		<ul class="assetlist">
		{include 'tpl/assets/recurse.html'}
		</ul>
		<hr />
		<b>TOTAL ASSET WORTH: {$total|number_format} ISK</b>
		{else}
		<p>You are not a director, what are you doing here?!</p>
		{/if}
		{else}
		<p>You need to be <a href="{$site.root}admin/user/display">logged in</a> and have <a href="{$site.root}player/api">added characters to your account</a> to use this functionality.</p>
		{/if}
	</div>
</div>