{$total = 0}
{$total2 = 0}

{foreach $items "locationID" "locations"}
	{foreach $locations "flag" "items"}
		{if $location != $items.0->itemName}
		<li><i>{$items.0->itemName}</i></li>{$location = $items.0->itemName}
		{/if}
		<li><b>{$flag}</b></li>
		{foreach $items "item"}
			{$children = $result[$item->itemID]}
			<li style="position:relative;">
				{itemlink $item->typeID $item->typeName}{if !$item->singleton} x{$item->quantity}{/if}
				{if $item->sell_lowest5}<div style="float:right;">({$item->sell_lowest5*$item->quantity|number_format:2} ISK)</div>{/if}

				{if $children}
					<ul>
					{$items = $children}
					{include "tpl/assets/recurse.html"}
					</ul>
				{/if}
			</li>
		{/foreach}
	{/foreach}
{foreachelse}
<li>
	Nothing found
</li>
{/foreach}
{if $total > 0}<li style="position:relative;">Total <div style="float:right;"><b>(CORP {$total|number_format} ISK)</b></div></li>{/if}
{if $total2 > 0}<li style="position:relative;">MARKET Total <div style="float:right;"><b>(MARKET {$total2|number_format} ISK)</b></div></li>{/if}
