<h1>Skillprices</h1>
<a href="{$site.root}assets/getprices/skills">Get current prices of skillbooks</a>
{foreach $skillgroups "id" "group"}
	<h1>{$group.name} ({$id})</h1>
	<table>
	{foreach $group.skills "skill"}
		{if $skill->basePrice > 0}
		{$seededPrice=$skill->basePrice*0.9}
		{$difference=$skill->MarketAvgSellingPrice-$seededPrice}
		<tr><td>{itemlink $skill->typeID $skill->typeName}</td><td style="width:25%;text-align:right;">{$seededPrice|number_format} ISK</td><td style="width:25%;text-align:right;">{if $skill->MarketAvgSellingPrice}{$skill->MarketAvgSellingPrice|number_format} ISK{/if}</td><td style="width:25%;text-align:right;">{if $skill->MarketAvgSellingPrice}(<span style="{if $difference/$seededPrice*100 > 100}color:purple;{elseif $difference/$seededPrice*100 > 50}color:red;{elseif $difference/$seededPrice*100 > 25}color:orange;{elseif $difference/$seededPrice*100 > 10}color:yellow;{elseif $difference/$seededPrice*100 > 3}color:beige;{elseif $difference/$seededPrice*100 < 0}color:green;{/if}">{$difference/$seededPrice*100|round:2}%</span>) {$difference|number_format} ISK{/if}</td></tr>
		{/if}
	{/foreach}
	</table>
{/foreach}
