<div class="glass"><div class="block">
	<h1>Best Items</h1>
	<table class="clean">
		<tr><th>Type</th><th>Avg Sell. #</th><th>Avg Buy. #</th><th>Highest Buy</th><th>Lowest Sell</th><th>Margin/day</th></tr>
	{foreach $table "row"}
	<tr><td>{itemlink $row->type_id $row->type_name}</td><td>{$row->transactions*$row->est_spct|number_format:2}</td><td>{$row->transactions*$row->est_bpct|number_format:2}</td><td>{$row->buy_highest5|number_format:2}</td><td>{$row->sell_lowest5|number_format:2}</td><td>{isk_format $row->movement}</td></tr>
	{/foreach}
	</table>
</div></div>