<h1>Can reprice to win</h1>
<table>
	<tr><th>Type</th><th>Buy Orders</th><th>Sell Orders</th><th>Supply Units</th><th>Laagste Sell Prijs</th><th>Laagste Alg</th><th>Transacties/Dag</th><th>Vol. Verkoop</th><th>10%</th></tr>
{foreach $table "row"}
<tr><td>{itemlink $row->TypeID $row->TypeName}</td><td>{$row->BuyOrders}</td><td>{$row->SellOrders}</td><td>{$row->SupplyUnits}</td><td align="right">{$row->lowestsell}</td><td align="right">{$row->lowesteverywhere}</td><td>{$row->average}</td><td>{$row->daystoprofit|round:2}</td><td>{$row->markupprofit}</td></tr>
{/foreach}
</table>