<div class="glass"><div class="block">
	<h1>Most Changed Prices</h1>
	<table class="clean">
		<tr><th>Type</th><th>Sell Avg</th><th>Buy Avg</th></tr>
		{foreach $table "row"}
		<tr><td>{itemlink $row->type_id $row->typeName}</td><td>{if $row->sell_avg_change!==null}{$row->sell_avg_change*100|number_format:2}%{else}-{/if}</td><td>{if $row->buy_avg_change!==null}{$row->buy_avg_change*100|number_format:2}%{else}-{/if}</td></tr>
		{/foreach}
	</table>
</div></div>