<div class="glass">
	<div class="block">
		<div class="topright">Orders in past <select name="hours" onchange="window.location=root+'trade/from_region_to_region/'+$(this).val();">
			<option value="1" {if $hours == 1}selected="selected"{/if}>1 Hours</option>
			<option value="4" {if $hours == 4}selected="selected"{/if}>4 Hours</option>
			<option value="8" {if $hours == 8}selected="selected"{/if}>8 Hours</option>
			<option value="24" {if $hours == 24}selected="selected"{/if}>24 Hours</option>
		</select></div>
		<h1>Region to Region</h1>
		<table class="clean">
		<tr><td></td>{foreach $regions "region2"}
			<th>{$region2->regionName}</th>
			{/foreach}</tr>
		
		{foreach $regions "region1"}
		<tr>
			<th>{$region1->regionName}</th>
			{foreach $regions "region2"}
			<td>{if $trades[$region1->regionID][$region2->regionID][0]}<a href="{$site.root}trade/route/region/{$region1->regionName|replace:' ':'_'}/region/{$region2->regionName|replace:' ':'_'}/{$hours}">{$trades[$region1->regionID][$region2->regionID][0]}</a>{else}0{/if}</td>
			{/foreach}
		</tr>
		{/foreach}
		</table>
		<h2>Average Profits Per Run</h2>
		<table class="clean">
		<tr><td></td>{foreach $regions "region2"}
			<th>{$region2->regionName}</th>
			{/foreach}</tr>

		{foreach $regions "region1"}
		<tr>
			<th>{$region1->regionName}</th>
			{foreach $regions "region2"}
			<td>{if $trades[$region1->regionID][$region2->regionID][1]}<a href="{$site.root}trade/route/region/{$region1->regionName|replace:' ':'_'}/region/{$region2->regionName|replace:' ':'_'}/{$hours}">{$trades[$region1->regionID][$region2->regionID][1]|number_format:2}</a>{else}0{/if}</td>
			{/foreach}
		</tr>
		{/foreach}
		</table>
	</div>
</div>
