<div class="glass"><div class="block">
<h1>Highest Volume Items</h1>
<table class="clean">
	<tr><th>Type</th><th>Avg Trans. (90d)</th><th>Highest 5% Buy</th><th>Lowest 5% Sell</th><th>Margin</th><th>Turnover</th></tr>
{foreach $table "row"}
<tr><td>{itemlink $row->type_id $row->type_name}</td><td>{$row->average|number_format:2}</td><td>{if is_numeric($row->buy_highest5)}{$row->buy_highest5|number_format:2}{else}0{/if}</td><td>{number_format $row->sell_lowest5 2}</td><td><span style="color:{if $row->Margin > 0}red{else}green{/if}">{$row->Margin|round:2}%</span></td><td>{$row->Turnover|isk_format}</td></tr>
{/foreach}
</table>
	</div></div>