<div class="glass"><div class="block">
<h1>Highest Demand Items</h1>
<p>I thought what I'd do was, I'd pretend I was one of those deaf-mutes.</p>
<table class="clean">
	<tr><th>Type</th><th>Supply</th><th>Demand</th><th>Est Sell Volume</th><th>Est Buy Volume</th><th>Margin</th></tr>
	{foreach $table "row"}
	<tr><td>{itemlink $row->type_id $row->type_name}</td><td style="text-align:right;">{$row->supply|number_format:2}</td><td style="text-align:right;">{$row->demand|number_format:2}</td><td style="text-align:right;">{$row->avg_sell|number_format:2}</td><td style="text-align:right;">{$row->avg_buy|number_format:2}</td><td style="text-align:right;">{$row->margin|number_format:2}</td></tr>
	{/foreach}
</table>
</div></div>