<h1>Highest Margin Items</h1>
<a href="{$site.root}trade/highestmargin/{if $sanity}0{else}1{/if}/{$minmargin}">Turn sanity check {if $sanity}off{else}on{/if}</a>
<table>
	<tr><th>Type</th><th>Buy Orders</th><th>Supply</th><th>Demand</th><th>Transactions</th><th>Hoogste Aankoopprijs</th><th>Laagste Verkoopprijs</th><th>Marge</th></tr>
{foreach $table "row"}
<tr><td>{itemlink $row->type_id $row->type_name}</td><td>{$row->buy_orders}</td><td>{$row->supply}</td><td>{$row->demand}</td><td>{$row->average|round:2}</td><td>{$row->buy_highest5}</td><td>{$row->sell_lowest5}</td><td>{$row->margin|round:2}%</td></tr>
{/foreach}
</table>