<div class="glass"><div class="block">
		<script>
			var currentMarketRow = null;
			var updateInterval = null;
			var marketInterval = null;

			function queueAllRows() {
				$('.order').each(function(index, item) {
					$(document).queue('updater', function() { updateNextRow(item) });
				});
				$(document).queue('updater', queueAllRows);
				$(document).dequeue('updater');
			}

			function updateNextRow(item) {
				var values = $(item).attr('id').split('_');
				var ordertype = values[0];
				var orderid = values[1];
				//alert(ordertype+' '+orderid);
				$('#loader_'+orderid).show();
				$.ajax({
					url: root+'raw/item/getorderprice/'+ordertype+'/'+orderid+'/{$station}',
					timeout:5000,
					dataType: 'json',
					success: function(data, textStatus, xhr) {
						//alert(textStatus);
						if (data.item && textStatus == 'success') {
							var currentprice = data.item.price;
							var currentmax = (ordertype=='sell')?data.item.sell_lowest:data.item.buy_highest;
							if('{$station}' == '1' && data.item.station_lowest) currentmax = (ordertype=='sell')?data.item.station_lowest:data.item.station_highest;
							var suggested = (ordertype=='sell')?parseFloat(currentmax)-0.01:parseFloat(currentmax)+0.01;

							$('#price_'+orderid).html(addCommas(currentprice));
							$('#best_'+orderid).html(addCommas(currentmax));
							$('#proposed_'+orderid).html(addCommas(suggested));
							if (currentprice == currentmax) {
								$('#'+ordertype+'_'+orderid).addClass('green');
								$('#'+ordertype+'_'+orderid).removeClass('red');
							} else {
								$('#'+ordertype+'_'+orderid).removeClass('green');
								$('#'+ordertype+'_'+orderid).addClass('red');
							}
						}
					},
					complete: function() {
						$('#loader_'+orderid).hide();
						$(document).dequeue('updater');
					}
				});
			}
			function nextMarket() {
				//Actions before changing row
				if(currentMarketRow != null) {
					currentMarketRow.removeClass('activemarket');
				}
				if (currentMarketRow == null) {
					currentMarketRow = $('#orders .order').first();
				} else if (currentMarketRow.next('.order').length == 0 && currentMarketRow.next().next('.order').length == 1) {
					currentMarketRow = currentMarketRow.next().next('.order');
				} else if (currentMarketRow.next('.order').length == 0) {
					currentMarketRow = $('#orders .order').first();
				}else {
					currentMarketRow = currentMarketRow.next('.order');
				}
				if (typeof(CCPEVE) != 'undefined') CCPEVE.showMarketDetails(currentMarketRow.attr('title'));
				//after changing row
				currentMarketRow.addClass('activemarket');
			}
			$(document).ready(function() {
				queueAllRows();
			});
		</script>
		<h1>Your {$type|capitalize} Orders</h1>
		{if !$user}
			<p>You need to be <a href="{$site.root}admin/user/display">logged in</a> and have <a href="{$site.root}player/api">added characters to your account</a> to use this functionality.</p>
		{else}
		<div class="topright"><a href="{$site.root}trade/orders/{$type}/{if $station}0{else}1{/if}">{if $station}Show prices per region{else}Show prices per station (jita, amarr){/if} </a> <input id="startScan" type="button" onclick="marketInterval = setInterval('nextMarket()',3000);$('#stopScan').show();$('#startScan').hide();" value="Start Scanning" /><input id="stopScan" style="display:none;" type="button" onclick="clearInterval(marketInterval);$('#stopScan').hide();$('#startScan').show()" value="Stop Scanning" /></div>
			<table id="orders" class="clean margin">
				<tr><th>Item</th><th>Price</th><th>Lowest/Highest</th><th>Material</th><th class="right">Optimal Price</th><th class="right">#</th><th class="right">U</th></tr>
				<tr class="head"><td colspan="6">Sell</td></tr>
				{foreach $orders "order"}
				{if $order->bid == 1 && $buying == false}{$buying = true}<tr class="head"><td colspan="6">Buy</td></tr>{/if}

				{if $order->bid==0}
					{if $station && $order->station_lowest}{$bestprice=$order->station_lowest}{else}{$bestprice=$order->sell_lowest}{/if}
					{if ($station && $order->price == $order->station_lowest) || $order->price == $order->sell_lowest}
						{$color="green"}
					{else}
						{$color="red"}
					{/if}
				{else}
					{if $station && $order->station_highest}{$bestprice=$order->station_highest}{else}{$bestprice=$order->buy_highest}{/if}
					{if ($station && $order->price == $order->station_highest) || $order->price == $order->buy_highest}
						{$color="green"}
					{else}
						{$color="red"}
					{/if}
				{/if}

				<tr id="{if $order->bid == 1}buy{else}sell{/if}_{$order->orderID}" title="{$order->type_id}" class="order {$color}">
					<td>{itemlink $order->type_id $order->typeName}</td>
					<td class="right" id="price_{$order->orderID}">{$order->price|number_format:2}</td>
					<td class="right" id="best_{$order->orderID}">{$bestprice|number_format:2}</td>
					<td class="right">{$order->total_price/$order->portionSize|number_format:2}</td>
					<td class="right" id="proposed_{$order->orderID}">{if $order->bid==0}{$bestprice-0.01|number_format:2}{else}{$bestprice+0.01|number_format:2}{/if}</td>
					<td class="right">{$order->volRemaining}/{$order->volEntered}</td>
					<td><img style="display:none;" id="loader_{$order->orderID}" src="{$site.root}res/img/ajax-loader.gif" /></td>
				</tr>
				{foreachelse}
				<tr><td colspan="6">No orders found</td></tr>
				{/foreach}
			</table>
		{/if}
</div></div>