<div class="glass"><div class="block">
<h1>Profitable Hauling</h1>
<form>
	From {region_list 'region1' $region1 " "} to {region_list 'region2' $region2 " "} <input type="submit" value="Find" />
</form>
{if $table}
<table class="clean">
	<tr><th>Type</th><th>From Lowest 5% Sell</th><th>Avg Trans. (90d)</th><th>To Lowest 5% Sell</th><th>Avg Trans. (90d)</th></tr>
{foreach $table "row"}
<tr><td>{itemlink $row->type_id $row->type_name}</td><td>{$row->sell1|number_format:2}</td><td>{$row->average1|number_format:2}</td><td>{$row->sell2|number_format:2}</td><td>{$row->average2|number_format:2}</td></tr>
{/foreach}
</table>
{else}
<p>Please select two regions</p>
{/if}
</div></div>