<div class="glass">
	<div class="block">
		<h1>Reprocess Finder</h1>
		<div class="topright">Reprocess profitability for <select name="orders" onchange="window.location=root+'trade/reprocessfinder/'+$(this).val();">
			<option value="sell" {if $orders == 'sell'}selected="selected"{/if}>Sell Orders</option>
			<option value="buy" {if $orders == 'buy'}selected="selected"{/if}>Buy Orders</option>
		</select></div>
		<p>Reprocessing yield of: {$yield*100|round:2}% at a 50% base station.</p>
		<table class="clean">
			<tr><th>Type</th><th>Updated</th><th>Mineral Value</th><th class="right">Buy/Sell</th><th class="center">Supply</th><th class="right">Profitability</th></tr>
			{foreach $table "row"}
					<tr><td>{itemlink $row->type_id $row->type_name}</td><td>{$row->datetime}</td><td>{$row->materials|number_format}</td><td class="right">{$row->sell|number_format} S<br />{$row->buy|number_format} B</td><td class="center">{$row->supply_in_5}</td><td class="right">{$row->materials-$row->sell|number_format}<br />{$row->materials-$row->buy|number_format}</td></tr>
			{/foreach}
		</table>
	</div>
</div