<div class="glass">
	<div class="block">
		<div class="topright small">Next Update: {$nrs=date('i')}{$nr=abs($nrs-60)}{$nr}m</div>
		<h1>Find Trade Routes</h1>
			<p>Currently limited to the following regions: Domain, The Forge, Kador, The Citadel, Sinq Laison, Heimatar, Metropolis, Essence, Everyshore.</p>
			<p>Calculation takes into account a tax of 1.0%.</p>
			<form class="glass margin" method="post" action="{$site.root}trade/route">
				{if $fixnames}
				<p style="color:#f2c738;">One of your names cannot be found, please check your spelling.</p>
				{/if}
				<table class="clean margin"><tr>
						<td>From</td>
						<td><select name="fromtype">
						<option value="region" {if $fromtype == 'region'}selected="selected"{/if}>Region</option>
						<option value="solarSystem" {if $fromtype == 'solarSystem'}selected="selected"{/if}>System</option>
						<option value="station" {if $fromtype == 'station'}selected="selected"{/if}>Station</option>
					</select></td>
					<td><input type="text" name="from" value="{$from}" /></td>
				</tr>
				<tr>
					<td>To</td>
					<td><select name="totype">
						<option value="region" {if $totype == 'region'}selected="selected"{/if}>Region</option>
						<option value="solarSystem" {if $totype == 'solarSystem'}selected="selected"{/if}>System</option>
						<option value="station" {if $totype == 'station'}selected="selected"{/if}>Station</option>
					</select></td>
					<td><input type="text" name="to" value="{$to}" /></td>
				</tr>
				<tr>
					<td>Max Time Ago</td>
					<td colspan="2"><select name="time_ago">
						<option value="1" {if $time_ago == 1}selected="selected"{/if}>1 Hours</option>
						<option value="4" {if $time_ago == 4}selected="selected"{/if}>4 Hours</option>
						<option value="8" {if $time_ago == 8}selected="selected"{/if}>8 Hours</option>
						<option value="24" {if $time_ago == 24}selected="selected"{/if}>24 Hours</option>
					</select></td>
				</tr>
				<tr>
					<td colspan="3"><input type="submit" value="calculate" /></td>
				</tr>
				</table>
			</form>
		
		<div class="glass margin">
			<h2>Results</h2>
			<table class="clean">
			{foreach $result 'item'}
			<tr>
				<td colspan="2">{itemlink $item->type_id $item->type_name}</td><td colspan="2">{$item->from_station_name} (<a href="javascript:CCPEVE.setDestination({$item->from_solarsytem_id});">T</a>)</td><td colspan="2">{$item->to_station_name} (<a href="javascript:CCPEVE.setDestination({$item->to_solarsytem_id});">T</a>)</td>
			</tr>
			<tr>
				<td>{$item->latest_data}</td><td>Transfer: {$item->transferrable}</td><td>Buy: {$item->from_price|number_format:2}</td><td>Sell: {$item->to_price|number_format:2}</td><td>{$item->profit_per_jump|number_format} per jump</td><td>{$item->total_profits|number_format} total</td>
			</tr>
			{foreachelse}
			<tr ><td>No trades found</td></tr>
			{/foreach}
			</table>
		</div>
	</div>
</div>