<div class="glass">
	<div class="block">
		<h1>Transactions for {if $type=='corporation'}{$session.character->corporationName}{else}{$session.character->name}{/if}</h1>
		{if $user && $session.character_id}
		<div class="topright"><a href="{$site.root}trade/transaction_history/{$type}/{$filtertype}/{$id}">Full Transaction History</a> | Transactions in past <select name="days" onchange="window.location=root+'trade/transactions/{$type}/'+$(this).val(){if $filtertype}+'/{$filtertype}/{$id}'{/if};">
			<option value="1" {if $days == 1}selected="selected"{/if}>1 Day</option>
			<option value="7" {if $days == 7}selected="selected"{/if}>7 Days</option>
			<option value="31" {if $days == 31}selected="selected"{/if}>31 Days</option>
			<option value="90" {if $days == 90}selected="selected"{/if}>90 Days</option>
			<option value="all" {if $days == 'all'}selected="selected"{/if}>All Time</option>
		</select></div>
		{if $filtertype != 'all'}<p>Show only where {$filtertype} is '{if $filtertype=='client'}{$client.0->clientName}{elseif $filtertype=='type'}{$item.0->typeName}{elseif $filtertype=='station'}{$station.0->stationName}{/if}' <a href="{$site.root}trade/transactions/{$days}">Remove Filter</a></p>{/if}
		<h2>Summary</h2>
		<div class="counter ">CURRENT BALANCE <div class="value">{$summary->balance|number_format:2}</div></div>
		<div class="counter good margin">SOLD QTY <div class="value">{if $summary->sales}{$summary->sales}{else}0{/if}</div></div>
		<div class="counter margin good">SOLD TOTAL <div class="value">{if $summary->total_sales}{$summary->total_sales|number_format:2}{else}0.00{/if}</div></div>
		<div class="counter margin bad">BOUGHT QTY <div class="value">{if $summary->buys}{$summary->buys}{else}0{/if}</div></div>
		<div class="counter margin bad">BOUGHT TOTAL <div class="value">{if $summary->total_buys}{$summary->total_buys|number_format:2}{else}0.00{/if}</div></div>
		<div class="counter margin">CLIENTS <div class="value">{$summary->clients}</div></div>
		<div class="counter margin">STATIONS <div class="value">{$summary->stations}</div></div>
		<div class="counter margin">TYPES <div class="value">{$summary->types}</div></div>
		<h2>Item Summary</h2>
		<table class="clean">
		{foreach $item "row"}
		<tr class="{if $row->transactionType == 'sell'}green{else}red{/if}"><td width="55%"><a href="{$site.root}trade/transactions/{$type}/{$days}/type/{$row->typeID}">{$row->typeName}</a></td><td width="5%">{$row->transactionType}</td><td width="20%" class="right">{$row->quantity|number_format:0}</td><td width="20%" class="right">{$row->total|number_format:2}</td></tr>
		{/foreach}
		</table>
		<h2>Client Summary</h2>
		<table class="clean">
		{foreach $client "row"}
		<tr class="{if $row->transactionType == 'sell'}green{else}red{/if}"><td width="55%"><a href="{$site.root}trade/transactions/{$type}/{$days}/client/{$row->clientID}">{$row->clientName}</a></td><td width="5%">{$row->transactionType}</td><td width="20%" class="right">{$row->quantity|number_format:0}</td><td width="20%" class="right">{$row->total|number_format:2}</td></tr>
		{/foreach}
		</table>
		<h2>Location Summary</h2>
		<table class="clean">
		{foreach $station "row"}
		<tr class="{if $row->transactionType == 'sell'}green{else}red{/if}"><td width="55%"><a href="{$site.root}trade/transactions/{$type}/{$days}/station/{$row->typeID}">{$row->stationName}</a></td><td width="5%">{$row->transactionType}</td><td width="20%" class="right">{$row->quantity|number_format:0}</td><td width="20%" class="right">{$row->total|number_format:2}</td></tr>
		{/foreach}
		</table>
		{else}
		<p>You need to be <a href="{$site.root}admin/user/display">logged in</a> and have <a href="{$site.root}player/api">added characters to your account</a> to use this functionality.</p>
		{/if}
	</div>
</div>