<div class="glass">
	<div class="block">
		<h1>Transaction History for {if $type=='corporation'}{$session.character->corporationName}{else}{$session.character->name}{/if}</h1>
		<div class="topright"><a href="{$site.root}trade/transactions/{$type}/session{if $filter}/{$filter}/{$id}{/if}">Summarized Transaction History</a></div>
		{if $filter != 'all'}<p>Show only where {$filter} is '{if $filter=='client'}{$transactions.0->clientName}{elseif $filter=='type'}{$transactions.0->typeName}{elseif $filter=='station'}{$transactions.0->stationName}{/if}' <a href="{$site.root}trade/transaction_history/{$type}">Remove Filter</a></p>{/if}
		{if $transactions}<p><a href="{$site.root}trade/transaction_history/{$type}/{$filter}/{$id}/{$start+500}">Further back</a></p>{/if}
		<table class="clean middle">
			<tr><th></th><th>Type</th><th>Time</th><th>Station</th><th>Client</th><th class="right">Amount</th><th class="right">Price</th><th class="right">Total</th></tr>
		{foreach $transactions "trans"}
		<tr class="{if $trans->transactionType=='sell'}green{else}red{/if}"><td><img src="http://evefiles.capsuleer.de/types/{$trans->typeID}_32.png" height="16"/></td><td><a href="{$site.root}trade/transaction_history/{$type}/type/{$trans->typeID}">{$trans->typeName}</a></td><td>{$trans->transactionDateTime}</td><td><a href="{$site.root}trade/transaction_history/{$type}/station/{$trans->stationID}">{$trans->stationName|truncate:30}</a></td><td><a href="{$site.root}trade/transaction_history/{$type}/client/{$trans->clientID}">{$trans->clientName}</a></td><td class="right">{$trans->quantity|number_format}</td><td class="right">{$trans->price|number_format:2}</td><td class="right">{$trans->price*$trans->quantity|number_format:2}</td></tr>
		{foreachelse}
		<tr><td colspan="7">You have no transactions</td></tr>
		{/foreach}
		</table>
	</div>
</div>