<div class="menu">
	<div class="item">
		Search
		<input type="text" id="itemsearch" class="itemsearch" name="name" value="" size="30" style=""/>
		<a class="special" href="{{ url('item_index') }}">Browse</a>
	</div>
	{% if app.user %}
		{% if app.session.character.hasCorpKey %}
			<div class="sub right"><a href="{{ url('corp_overview') }}">My Corporation</a>
				<div>
					{% if app.session.character.isDirector %}
					<a href="{{ url('corp_assets') }}">Corporation Assets</a>
					<a href="{{ url('corp_orders') }}">Corporation Orders</a>
					<a href="{{ url('corp_transactions') }}">Corporation Transactions</a>
					<a href="{{ url('corp_blueprints') }}">Corporation Blueprints</a>
					{% endif %}
					<a href="{{ url('corp_pos') }}">POS Tracker</a>
				</div>
			</div>
		{% endif %}
		<div class="sub right"><a href="{{ url('char_overview') }}">My Market</a>
			<div>
				<a href="{{ url('char_assets') }}">My Assets</a>
				<a href="{{ url('char_orders') }}">My Orders</a>
				<a href="{{ url('char_transactions') }}">My Transactions</a>
				<a href="{{ url('char_blueprints') }}">My Blueprints</a>
				<a href="{{ url('user_account') }}">Account Overview</a>
				<a href="{{ url('user_settings') }}">Settings</a>
			</div>
		</div>
	{% endif %}
	
	<a href="{{ url('api_index') }}">API</a>
	<div class="sub">Statistics
		<div>
			<a href="{{ url('stats_marketeer') }}">EVE Marketeer</a>
			<a href="{{ url('stats_regions') }}">Region</a>
		</div>
	</div>
	<a href="{{ url('home_feedback') }}">Feedback</a>
	<a href="{{ url('home_downloads') }}">Downloads</a>
	<div class="clearfix"></div>
</div>
<div class="submenu">
	{% if app.session.has('characters') %}
		<select class="images" onchange="window.location=root+'home/setcharacter/'+$(this).val();" style="width:200px;">
		{% for char in app.session.characters %}
			<option value="{{ char.id }}" {% if app.session.character.id == char.id %}selected="selected"{% endif %} title="http://image.eveonline.com/Character/{{ char.id }}_32.jpg">{{ char.name }} {% if char.isDirector %}(C){% endif %}</option>
		{% endfor %}
		</select>
	{% endif %}
	<a href="{{ url('home_tools') }}">Tool Database</a>
	<div class="sub">Trade
		<div>
			<a href="{{ url('trade_region_to_region') }}">Region to Region</a>
			<a href="{{ url('trade_reprocess') }}">Reprocess Finder</a>
			<a href="{{ url('trade_shoppinglist') }}">Shopping List</a>
			<a href="{{ url('trade_skillprices') }}">Skill prices</a>
			<a href="{{ url('trade_highestmargin') }}">Highest Margin (Intra Region)</a>
			<a href="{{ url('trade_highestmarginregions') }}">Highest Margin (Inter Region)</a>
			<a href="{{ url('trade_mineral_vs_item') }}">Mineral VS item price</a>
			<a href="{{ url('trade_potentialprofits') }}">Potential Profits</a>
			<a href="{{ url('trade_canreprice') }}">Can Markup</a>
		</div>
	</div>
	<div class="sub">Trade Information
		<div>
			<a href="{{ url('trade_best_items') }}">Best Items</a>
			<a href="{{ url('trade_highestvolume') }}">Highest Volume</a>
			<a href="{{ url('trade_highestdemand') }}">Highest Demand</a>
			<a href="{{ url('trade_profitable_hauling') }}">Profitable Hauling</a>
		</div>
	</div>
	<div class="sub">Missions
		<div>
			<a href="{{ url('mission_statistics') }}">Statistics</a>
		</div>
	</div>
	<div class="sub">Manufacturing
		<div>
			<a href="{{ url('manufacturing_highestmargin') }}">Highest Margin</a>
		</div>
	</div>
	<div class="sub">Information
		<div>
			<a href="{{ url('info_mining') }}">Mining Profits per Ship</a>
			<a href="{{ url('info_poscost') }}">POS Cost</a>
		</div>
	</div>
	<div class="clearfix"></div>
</div>