{% macro selected(route) %}
	{% if app.request.attributes.get('_route') == route %}class="active"{% endif %}
{% endmacro %}

{% from _self import selected %}

<ul class="side-menu">
	<li {{ selected('home') }}>
		<a class="current" href="{{ path('home') }}">
			<i class="fa fa-dashboard"></i> Home
		</a>
	</li>
	<!--<li>
		<a href="charts.html" class="is-dropdown-menu">
			<span class="badge pull-right"></span>
			<i class="glyphicon glyphicon-bar-chart"></i> Charts
		</a>
		<ul>
			<li>
				<a href="charts.html#area_chart_anchor">
					<i class="glyphicon glyphicon-random"></i>
					Area Chart
				</a>
			</li>
			<li>
				<a href="charts.html#circle_chart_anchor">
					<i class="glyphicon glyphicon-bullseye"></i>
					Circular Chart
				</a>
			</li>
			<li>
				<a href="charts.html#bar_chart_anchor">
					<i class="glyphicon glyphicon-signal"></i>
					Bar Chart
				</a>
			</li>
			<li>
				<a href="charts.html#line_chart_anchor">
					<i class="glyphicon glyphicon-bar-chart"></i>
					Line Chart
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="forms.html">
			<span class="badge pull-right">12</span>
			<i class="glyphicon glyphicon-terminal"></i> Forms
		</a>
	</li>
	<li>
		<a href="elements.html" class="is-dropdown-menu">
			<span class="badge pull-right"></span>
			<i class="glyphicon glyphicon-code-fork"></i> UI Elements
		</a>
		<ul>
			<li>
				<a href="elements.html">
					<i class="glyphicon glyphicon-beaker"></i>
					Elements
				</a>
			</li>
			<li>
				<a href="icons.html">
					<i class="glyphicon glyphicon-picture"></i>
					Icons
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="calendar.html">
			<span class="badge pull-right">11</span>
			<i class="glyphicon glyphicon-calendar"></i> Calendar
		</a>
	</li>-->
	<li class="disabled">
		<a class="">
			<i class="fa fa-table"></i> Reports
		</a>
		<!--<ul>
			<li>
				<a href="">
					<i class="fa fa-book"></i>
					Top Items
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa fa-globe"></i>
					Top Locations
				</a>
			</li>
		</ul>-->
	</li>
	<li class="disabled">
		<a href="">
			<span class="badge pull-right"></span>
			<i class="fa fa-exchange"></i> Trade Finder
		</a>
	</li>
	<li class="disabled">
		<a href="">
			<span class="badge pull-right"></span>
			<i class="fa fa-bell"></i> Alerts
		</a>
	</li>
	<li class="disabled">
		<a href="">
			<span class="badge pull-right"></span>
			<i class="fa fa-cog"></i> Settings
		</a>
	</li>
</ul>
<ul class="side-menu">
	{% if not app.user %}
		<li {{ selected('fos_user_registration_register') }}>
			<a href="{{ path('fos_user_registration_register') }}">
				<span class="badge pull-right"></span>
				<i class="fa fa-key"></i> Sign Up
			</a>
		</li>
		<li {{ selected('fos_user_security_login') }}>
			<a href="{{ path('fos_user_security_login') }}">
				<span class="badge pull-right"></span>
				<i class="fa fa-sign-in"></i> Login
			</a>
		</li>
	{% else %}
		<li {{ selected('fos_user_security_logout') }}>
			<a href="{{ path('fos_user_security_logout') }}">
				<span class="badge pull-right"></span>
				<i class="fa fa-sign-out"></i> Log out
			</a>
		</li>
	{% endif %}
</ul>