
<div class="glass">
<div class="block">
<h1>Profit per Ship</h1>
{if $user}
<table class="clean margin">
	<tr><th>Type</th><th style="text-align:center">Profit/m3</th>{foreach $ships "shipname" "ship"}<th>{$shipname}</th>{/foreach}</tr>
	{$start = 0}
	{foreach $table "row"}
	{if $start == 0}{$start=1}<tr class="alt"><th>Yield in m<sup>3</sup>/hour</th><th style="text-align:center"></th>{foreach $ships "shipname" "ship"}<th>{number_format(ao($row, $shipname))}</th>{/foreach}</tr>{/if}
	<tr><td>{itemlink $row->typeID $row->typeName}</td><td style="text-align:center">{$row->price_per_m3|number_format:2}</td>{foreach $ships "shipname" "ship"}<td>{$amount=ao($row, $shipname)}{$amount=$amount*$row->price_per_m3}{isk_format($amount, false)}{$amount=ao($row, $shipname)}{$amount=$amount/$row->volume*$row->sell_lowest5}<br />({$amount|isk_format:false})</td>{/foreach}</tr>
	{/foreach}
</table>
{else}
<p><p>You need to be <a href="{$site.root}admin/user/display">logged in</a> and have <a href="{$site.root}player/api">added characters to your account</a> (with full API) to use this functionality.</p></p>
	</div>
</div>