<div class="block">
	<table>
	<tr><th>Total Bought (last week):</th><td>{$total_bought|number_format} ISK</td></tr>
	<tr><th>Total Sold (last week):</th><td>{$total_sold|number_format} ISK</td></tr>
	<tr><th>Profit (last week):</th><td>{$a=$total_sold-$total_bought}{$a|number_format} ISK</td></tr>
	</table>
</div>
<div class="content">
<div class="col">
	<h1>Buying Players</h1>
	<table>
		<tr><th class="half">Player Name</th><th>Times bought</th></tr>
		{foreach $players "player" "amount"}
		<tr><td>{$player}</td><td>{$amount}</td></tr>
		{/foreach}
	</table>
</div>
<div class="col">
	<h1>Buying at stations</h1>
	<table>
		<tr><th class="half">Station Name</th><th>Times bought</th></tr>
		{foreach $stations "station" "amount"}
		<tr><td>{$station}</td><td>{$amount}</td></tr>
		{/foreach}
	</table>
</div>
<div class="col">
	<h1>Popular items</h1>
	<table>
		<tr><th class="half">Item Type</th><th>Total revenue</th></tr>
		{foreach $popular "item" "amount"}
		<tr><td>{$item}</td><td>{$amount|number_format} ISK / {$count.$item}</td></tr>
		{/foreach}
	</table>
</div>
<div class="clear"></div>
</div>