<div class="glass">
	<div class="block">
		<h1>Missions</h1>
		{if $user && $session.character_id}
		<div class="topright">Missions in past <select name="days" onchange="window.location=root+'missions/display/'+$(this).val();">
			<option value="1" {if $days == 1}selected="selected"{/if}>1 Day</option>
			<option value="7" {if $days == 7}selected="selected"{/if}>7 Days</option>
			<option value="31" {if $days == 31}selected="selected"{/if}>31 Days</option>
			<option value="90" {if $days == 90}selected="selected"{/if}>90 Days</option>
			<option value="all" {if $days == 'all'}selected="selected"{/if}>All Time</option>
		</select></div>
		<div class="counter">Total Missions Completed<div class="value">{if $missions->count}{$missions->count|number_format:0}{else}0{/if}</div></div>
		<div class="counter margin">Total Time Bonuses Received<div class="value">{if $timebonus->count}{$timebonus->count|number_format:0}{else}0{/if}</div></div>
		<div class="counter good margin">Total Mission Rewards<div class="value">{if $missions->amount}{$missions->amount|number_format:2}{else}0.00{/if}</div></div>
		<div class="counter good margin">Total Time Bonus Rewards<div class="value">{if $timebonus->amount}{$timebonus->amount|number_format:2}{else}0.00{/if}</div></div>
		<div class="counter bad margin">Total Mission Taxes<div class="value">{$missions->taxes+$timebonus->taxes|number_format:2}</div></div>
		<div class="counter margin">Total Bounties<div class="value">{$total_bounties|number_format:2}</div></div>
		<div class="counter bad margin">Total Bounty Taxes<div class="value">{$total_taxes|number_format:2}</div></div>
		<table class="clean margin">
		{foreach $kills "typeID" "amount"}
		<tr><td>{$rats[$typeID]->typeName}</td><td>{$amount}</td><td class="right">{$rats[$typeID]->value|number_format} +/-</td></tr>
		{/foreach}
		</table>
		{else}
		<p>You need to be <a href="{$site.root}admin/user/display">logged in</a> and have <a href="{$site.root}player/api">added characters to your account</a> to use this functionality.</p>
		{/if}
	</div>
</div>