<h1>Search results for item <input type="text" value="{$search}" id="itemsearch" onchange="searchItem();"/></h1>
<script>
$(document).ready(function() {
	function searchItem() {
		window.location = root+'corp/itemsearch?q='+$('#itemsearch').val();
	}
	$( "#itemsearch" ).autocomplete({
		source: root+'corp/itemsearchhint',
		minLength: 2,
		select: function( event, ui ) {
			searchItem();
		}
	});
	
});
$(function() {
	$('#itemsearch').focus();
});
</script>
<table class="clean middle">
	<tr>
		<th></th><th>Character</th><th>Item</th><th>Location</th><th>Quantity</th>
	</tr>
{foreach $results "result"}
<tr>
	<td>{if $result->corp}<img src="http://image.eveonline.com/Corporation/{$site.conf.corporation_id}_64.png" />{else}<img src="http://image.eveonline.com/Character/{$result->characterID}_64.jpg" />{/if}</td><td>{$result->name}</td><td>{$result->typeName}</td><td>{$result->itemName} (<a href="javascript:CCPEVE.setDestination({if $result->solarSystemID}{$result->solarSystemID}{else}{$result->locationID}{/if})">T</a>)</td><td style="text-align:right;">{$result->quantity|number_format}</td>
</tr>
{foreachelse}
<tr>
	<td colspan="4">No results</td>
</tr>
{/foreach}
</table>