<div class="glass">
	<div class="block">
		<h1>Net worth</h1>
		<p>Shows the net worth for your corporations. Only takes into account the assets of members registered on the website.</p>
	</div>
{foreach $corporations "corpname" "corporation"}
	<div class="block margin">
		<h2>{$corpname}</h2>
		<table class="clean">
		<tr><td style="width:50%;">Total Corp Asset Worth</td><td style="text-align:right;">{$corporation.corpassets|round:2|number_format} ISK</td></tr>
		<tr><td>Total Member Asset Worth</td><td style="text-align:right;">{$corporation.memberassets|round:2|number_format} ISK</td></tr>
		<tr><td>Total Corp Cash</td><td style="text-align:right;">{$corporation.corpmoney|round:2|number_format} ISK</td></tr>
		<tr><td>Total Member Cash</td><td style="text-align:right;">{$corporation.membermoney|round:2|number_format} ISK</td></tr>

		<tr><td>TOTAL WORTH</td><td style="text-align:right;">{$corporation.totalworth|number_format} ISK</td></tr>
		</table>
	</div>
{/foreach}
</div>