<div class="glass">
	<div class="block">
		<table class="clean">
			<tr><th>Item Type</th><th style="text-align:right;">Cost/day</th></tr>
			{foreach $table "row"}
			<tr><td>{itemlink $row->typeID $row->typeName}</td><td style="text-align:right;">{number_format $row->cost_per_day} ISK</td></tr>
			{/foreach}
		</table>
	</div>
</div>