<div class="glass"><div class="block">
<h1>POSes</h1>
{foreach $poses "pos"}
<h2>{$pos->typeName} ({$pos->itemName})</h2>
<div class="counter {if $pos->state == 4}good{elseif $pos->state == 3}bad{/if}">State<span class="value">{if $pos->state == 0}Unanchored{elseif $pos->state == 1}Anchored/Offline{elseif $pos->state == 2}Onlining{elseif $pos->state == 3}Reinforced (until $pos->stateTimestamp){elseif $pos->state == 4}Online{/if}</span></div>
<div class="block margin">
	<table class="clean">
	<tr>
		<th>Fuel</th><th>Current</th><th>Per hour</th><th>Purpose</th><th>Days left</th><th>Bar</th>
	</tr>
		{foreach $pos->fuel "fuel"}
	<tr>
		<td>{$fuel->typeName}</td><td>{$fuel->quantity}</td><td>{$fuel->per_hour}</td><td>{$fuel->purposeText}</td><td>{$fuel->hours_left/24|round:2}</td><td>{level_bar $fuel->quantity $fuel->per_hour*24*7 $fuel->per_hour*24*4 $fuel->per_hour*24*2}</td>
	</tr>
	{/foreach}
	</table>
</div>
{foreachelse}
<p>You do not have any POSes.</p>
{/foreach}
</div></div>