<h1>Search results for skill {$search}</h1>
<table class="clean middle">
	<tr>
		<th></th><th>Character</th><th>Skill Level</th>
	</tr>
{foreach $results "result"}
<tr>
	<td><img src="http://image.eveonline.com/Character/{$result->characterID}_64.jpg" /></td><td>{$result->name}</td><td>{$result->level}</td>
</tr>
{/foreach}
</table>