<div class="glass">
	<div class="block">
<h1>Upload Suggestions</h1>

<script>
	var total = 0;
	var done = 0;
	var count_interval;
	var loop_interval;
	function opennext() {
		var item = $("#list .itemlist").children().first();
		var typeid = item.attr('title');

		if (typeof(CCPEVE) != 'undefined') {
			CCPEVE.showMarketDetails(typeid);
		}
		count = 30;
		$('#current .item').html(item.html());
		$(item).remove();
		if ($("#list .itemlist").children().length < 1) {
			//alert(root+'uploader/display/{$type}/start');
			clearInterval(count_interval);
			clearInterval(loop_interval);
			window.location = root+'uploader/display/{$type|replace:' ':'_'}/start';
			return;
		}

		done += 3;
		var remaining = total - done;
		if (remaining == 0) {
			done = 0;
		}
	}
	function start() {
		stop();
		count_interval = setInterval('counter()', 100);
		loop_interval = setInterval('opennext()', 3000);
		$('#stop').show();
		$('#start').hide();
	}
	function stop() {
		clearInterval(count_interval);
		clearInterval(loop_interval);
		$('#start').show();
		$('#stop').hide();
	}
	var count = 30;
	function counter() {
		count -= 1;
		$('#counter').html(count/10);
	}
	$(document).ready(function() {
		if ('{$state}' == 'pause') {
			stop();
		} else {
			start();
		}
		$("#new_item").autocomplete({
			source: root+'uploader/suggest',
			delay:300,
			minLength:3,
			select: function(event, ui) {
				$.ajax({
					url: root+'uploader/add_manual',
					data: { typeid: ui.item.id, group: '{$type}' }
				});
				{if $type != 'all' && $type != 'market_orders'}$("#list .itemlist").prepend('<div class="item" title="'+ui.item.id+'">'+ui.item.value+'</div>');{/if}
				$('#manual .list').prepend('<div class="item" title="'+ui.item.id+'">'+ui.item.value+'</div>');
			},
			close: function(even, ui) {
				this.value = '';
			}
		});
		$('#group').keydown(function(e) {
			if (e.keyCode == 13) {
				$.ajax({
					url: root+'uploader/add_group',
					data: { group: $('#group').val() },
					success: function() {
						window.location = root+'uploader/display/'+$('#group').val().replace(/ /g,'_');
					}
				});
			}
		});
		if (typeof(CCPEVE) != 'undefined') {
			CCPEVE.requestTrust(root);
		}
	});

</script>
	{if $metadata}<p>Your Upload Key is: {$metadata->upload_key}</p>{/if}
	{if !$region}
	<p>Uploader has no idea where you are. You will be able to build manual groups, but you will not be able to start scanning the market. This happens when the website does not have trust yet, or you are using the website from an out of game browser (IGB headers won't be available). After you give trust, you will need to <a href="{$site.root}uploader">reload the page</a>.</p>
	{/if}
	<p>
		<a href="{$site.root}uploader/display/all/{$state}">All Items</a>{*{if $user} - <a href="{$site.root}uploader/display/market_orders/{$state}">Your Market Orders</a>{/if}*} - Manual Group: <select onchange="window.location=root+'uploader/display/'+$(this).val();"><option value="">-- select one --</option>{foreach $groups "group"}<option value="{$group->groupname|replace:' ':'_'}" {if $group->groupname == $type}selected="selected"{/if}>{$group->groupname} {if $group->user_id==0}(global){/if}</option>{/foreach}</select>{if $type != 'all' && $type != 'market_orders' && ($manualdata.0->user_id != 0 || $manualdata == null)} <a href="{$site.root}uploader/delete_group/{$type}">Delete Group</a>{/if}
	</p>
	<p>
		{if $type=='all'}This scanner will scan the entire market.{elseif $type=='market_orders'}This scanner wil scan all items in your market orders.{else}This scanner will scan items in the group {$type}.{/if}
	</p>
	<br />
	<div id="current">
		<div class="item"></div>
		<div id="counter"></div>
	</div>
	<div class="topright buttons"><span style="font-size:16px;">({$updated} / {$total} updated in last 24 hours)</span>{if $region} <input id="start" type="button" value="Start" onclick="start();"/><input id="stop" type="button" value="Stop" onclick="stop();"/>{/if}</div>
	<div id="list">
		<h1>Items to scan</h1>
		<div class="itemlist">
		{foreach $items "nr" "item"}
		<div class="item" title="{$item->typeID}">{$item->typeName}</div>
		{/foreach}
		</div>
	</div>
	<div id="manual">
		<h1>Manual Items</h1>
		{if $user}
		<table class="input" class="block">
			<tr><td>New Group</td><td><input type="text" id="group" /></td></tr>
			<tr><td>New Item</td><td><input type="text" id="new_item" /></td></tr>
		</table>
		<div class="list">
			{foreach $manualdata "item"}
			<div class="item" title="{$item->type_id}">{$item->typeName}</div>
			{/foreach}
		</div>
		{else}
		<p>To use manual items you need to be logged in.</p>
		{/if}
	</div>
	<div class="clear"></div>
	
</div>
	</div>