{% block form_row %}
	<div class="form-group">
		{{ form_label( form ) }}
		{{ form_widget( form ) }}
		{{ form_errors(form) }}
	</div>
{% endblock %}


{% block form_label %}
	{% if not compound %}
		{% set label_attr = label_attr|merge({'for': id}) %}
	{% endif %}
	{% if required %}
		{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
	{% endif %}
	{% if label is empty %}
		{% set label = name|humanize %}
	{% endif %}
	<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
{% endblock form_label %}

{% block form %}
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{% endblock %}

{% block form_start %}
	{% spaceless %}
		{% set method = method|upper %}
		{% if method in ["GET", "POST"] %}
			{% set form_method = method %}
		{% else %}
			{% set form_method = "POST" %}
		{% endif %}
		<form role="form" name="{{ form.vars.name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
		{% if form_method != method %}
			<input type="hidden" name="_method" value="{{ method }}" />
		{% endif %}
	{% endspaceless %}
{% endblock form_start %}

{% block form_widget %}
	{% spaceless %}
		{% if compound %}
			{{ block('form_widget_compound') }}
		{% else %}
			{{ block('form_widget_simple') }}
		{% endif %}
	{% endspaceless %}
{% endblock form_widget %}

{% block form_widget_simple %}
	{% spaceless %}
		{% set type = type|default('text') %}
		<input class="form-control" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
	{% endspaceless %}
{% endblock form_widget_simple %}

{% block form_widget_compound %}
	{% spaceless %}
		<div {{ block('widget_container_attributes') }}>
			{% if form.parent is empty %}
				{{ form_errors(form) }}
			{% endif %}
			{{ block('form_rows') }}
			{{ form_rest(form) }}
		</div>
	{% endspaceless %}
{% endblock form_widget_compound %}

{% block collection_widget %}
	{% spaceless %}
		{% if prototype is defined %}
			{% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
		{% endif %}
		{{ block('form_widget') }}
	{% endspaceless %}
{% endblock collection_widget %}

{% block textarea_widget %}
	{% spaceless %}
		<textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
	{% endspaceless %}
{% endblock textarea_widget %}

{% block choice_widget %}
	{% spaceless %}
		{% if expanded %}
			{{ block('choice_widget_expanded') }}
		{% else %}
			{{ block('choice_widget_collapsed') }}
		{% endif %}
	{% endspaceless %}
{% endblock choice_widget %}

{% block choice_widget_expanded %}
	{% spaceless %}
		<div {{ block('widget_container_attributes') }}>
			{% for child in form %}
				{{ form_widget(child) }}
				{{ form_label(child) }}
			{% endfor %}
		</div>
	{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block choice_widget_collapsed %}
	{% spaceless %}
		{% if required and empty_value is none and not empty_value_in_choices %}
			{% set required = false %}
		{% endif %}
		<select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
			{% if empty_value is not none %}
				<option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
			{% endif %}
			{% if preferred_choices|length > 0 %}
				{% set options = preferred_choices %}
				{{ block('choice_widget_options') }}
				{% if choices|length > 0 and separator is not none %}
					<option disabled="disabled">{{ separator }}</option>
				{% endif %}
			{% endif %}
			{% set options = choices %}
			{{ block('choice_widget_options') }}
		</select>
	{% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block choice_widget_options %}
	{% spaceless %}
		{% for group_label, choice in options %}
			{% if choice is iterable %}
				<optgroup label="{{ group_label|trans({}, translation_domain) }}">
					{% set options = choice %}
					{{ block('choice_widget_options') }}
				</optgroup>
			{% else %}
				<option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
			{% endif %}
		{% endfor %}
	{% endspaceless %}
{% endblock choice_widget_options %}

{% block checkbox_widget %}
	{% spaceless %}
		<input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
	{% endspaceless %}
{% endblock checkbox_widget %}

{% block radio_widget %}
	{% spaceless %}
		<input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
	{% endspaceless %}
{% endblock radio_widget %}

{% block datetime_widget %}
	{% spaceless %}
		{% if widget == 'single_text' %}
			{{ block('form_widget_simple') }}
		{% else %}
			<div {{ block('widget_container_attributes') }}>
				{{ form_errors(form.date) }}
				{{ form_errors(form.time) }}
				{{ form_widget(form.date) }}
				{{ form_widget(form.time) }}
			</div>
		{% endif %}
	{% endspaceless %}
{% endblock datetime_widget %}

{% block date_widget %}
	{% spaceless %}
		{% if widget == 'single_text' %}
			{{ block('form_widget_simple') }}
		{% else %}
			<div {{ block('widget_container_attributes') }}>
				{{ date_pattern|replace({
				'{{ year }}':  form_widget(form.year),
				'{{ month }}': form_widget(form.month),
				'{{ day }}':   form_widget(form.day),
				})|raw }}
			</div>
		{% endif %}
	{% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
	{% spaceless %}
		{% if widget == 'single_text' %}
			{{ block('form_widget_simple') }}
		{% else %}
			{% set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} %}
			<div {{ block('widget_container_attributes') }}>
			{{ form_widget(form.hour, vars) }}{% if with_minutes %}:{{ form_widget(form.minute, vars) }}{% endif %}{% if with_seconds %}:{{ form_widget(form.second, vars) }}{% endif %}
		</div>
		{% endif %}
	{% endspaceless %}
{% endblock time_widget %}

{% block number_widget %}
	{% spaceless %}
		{# type="number" doesn't work with floats #}
		{% set type = type|default('text') %}
		{{ block('form_widget_simple') }}
	{% endspaceless %}
{% endblock number_widget %}

{% block integer_widget %}
	{% spaceless %}
		{% set type = type|default('number') %}
		{{ block('form_widget_simple') }}
	{% endspaceless %}
{% endblock integer_widget %}

{% block money_widget %}
	{% spaceless %}
		{{ money_pattern|replace({ '{{ widget }}': block('form_widget_simple') })|raw }}
	{% endspaceless %}
{% endblock money_widget %}

{% block url_widget %}
	{% spaceless %}
		{% set type = type|default('url') %}
		{{ block('form_widget_simple') }}
	{% endspaceless %}
{% endblock url_widget %}

{% block search_widget %}
	{% spaceless %}
		{% set type = type|default('search') %}
		{{ block('form_widget_simple') }}
	{% endspaceless %}
{% endblock search_widget %}

{% block percent_widget %}
	{% spaceless %}
		{% set type = type|default('text') %}
		{{ block('form_widget_simple') }} %
	{% endspaceless %}
{% endblock percent_widget %}

{% block password_widget %}
	{% spaceless %}
		{% set type = type|default('password') %}
		{{ block('form_widget_simple') }}
	{% endspaceless %}
{% endblock password_widget %}

{% block hidden_widget %}
	{% spaceless %}
		{% set type = type|default('hidden') %}
		{{ block('form_widget_simple') }}
	{% endspaceless %}
{% endblock hidden_widget %}

{% block email_widget %}
	{% spaceless %}
		{% set type = type|default('email') %}
		{{ block('form_widget_simple') }}
	{% endspaceless %}
{% endblock email_widget %}

{% block button_widget %}
	{% spaceless %}
		{% if label is empty %}
			{% set label = name|humanize %}
		{% endif %}
		<button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
	{% endspaceless %}
{% endblock button_widget %}

{% block submit_widget %}
	{% spaceless %}
		{% set type = type|default('submit') %}
		{{ block('button_widget') }}
	{% endspaceless %}
{% endblock submit_widget %}

{% block reset_widget %}
	{% spaceless %}
		{% set type = type|default('reset') %}
		{{ block('button_widget') }}
	{% endspaceless %}
{% endblock reset_widget %}

{% block button_attributes %}
	{% spaceless %}
		id="{{ id }}" name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif -%}
		{%- for attrname, attrvalue in attr -%}
			{{- " " -}}
			{%- if attrname in ['placeholder', 'title'] -%}
				{{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
			{%- elseif attrvalue is sameas(true) -%}
				{{- attrname }}="{{ attrname }}"
			{%- elseif attrvalue is not sameas(false) -%}
				{{- attrname }}="{{ attrvalue }}"
			{%- endif -%}
		{%- endfor -%}
	{% endspaceless %}
{% endblock button_attributes %}