@font-face {
    font-family: 'EVE';
    src: url('../fonts/eve-webfont.eot');
    src: url('../fonts/eve-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eve-webfont.woff') format('woff'),
         url('../fonts/eve-webfont.ttf') format('truetype'),
         url('../fonts/eve-webfont.svg#EVEAlphaBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Apache';
    src: url('../fonts/aldotheapache-webfont.eot');
    src: url('../fonts/aldotheapache-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aldotheapache-webfont.woff') format('woff'),
         url('../fonts/aldotheapache-webfont.ttf') format('truetype'),
         url('../fonts/aldotheapache-webfont.svg#AldotheApacheRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Pro';
    src: url('../fonts/prolamina_2-webfont.eot');
    src: url('../fonts/prolamina_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/prolamina_2-webfont.woff') format('woff'),
         url('../fonts/prolamina_2-webfont.ttf') format('truetype'),
         url('../fonts/prolamina_2-webfont.svg#ProLamina2Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, textarea, input {
	color:#afb3b6;
	font-family:arial, sans-serif;
	font-size:12px;
}

body {
	background:#000 url(../images/starfield.jpg);
	font-family:Arial, Georgia, sans-serif;
	letter-spacing:1px;
}

textarea, input {
	color:#000;
	border:1px solid #ccc;
}

a {
	color:#f2c738;
	text-decoration:none;
}

a:hover {
	color:#f2c738;
	text-decoration:underline;
}

a img {
	border:0px;
}

a.block {
	display:block;
	color:inherit;
	text-decoration:inherit;
}



h1 {
	font-weight:bold;
	font-size:16px;
	margin-bottom:2px;
	color:#8F463F;
	padding:10px;
	padding-left:0px;
	padding-top:0px;
}

h2 {
	font-weight:bold;
	font-size:14px;
	margin-bottom:4px;
	color:#fff;
	margin-top:4px;
	padding:4px;
	padding-left:0px;
}

h2.inline {
	padding:0px;
}

h2.total {
	background-image:url(../images/stripe2.png);
	text-shadow:1px 1px #6e7b83;
}

.itemcontainer:hover {
	cursor:pointer !important;
}

.itemcontainer:hover li {
	cursor:default;
}

.location {
	position:absolute;
	top:20px;
	right:5px;
}

.image img {
	display:block;
}

.usermenu {
	position:absolute;
	top:55px;
	right:5px;
}

.usermenu .user {
	color:#F6A59C;
}

.blocklink {
	padding:4px;
	margin-bottom:4px;
	position:relative;
}

.blocklink a {
	position:absolute;
	left:46px;
	top:10px;
	font-size:20px;
}

.blocklink:hover {
	
}

.uploader {
	background-image:url(../images/back_small.jpg);
	-webkit-border-radius:6px;
	border:1px outset grey;
	padding:10px;
	cursor:pointer;
}

.uploader.alternate {
	background-image:url(../images/back_small_alt2.jpg);
	color:#333;
}

.uploader.alternate:hover {
	background-image:url(../images/back_small_alt_glow2.jpg);
}

.uploader:hover {
	border:1px outset #aaa;
	background-image:url(../images/back_small_glowy.jpg);

}

.uploader h1 {
	font-family:Apache;
	font-size:34px;
	margin-bottom:0px;
	padding-bottom:0px !important;
	text-shadow:2px 2px #000;
}

.uploader p {
	margin-top:0px;
	padding-top:0px;
}

#list {
	height:300px;
	border:#26343d 1px solid;
	padding:10px;
	overflow:auto;
	width:600px;
	float:left;
}

#manual {
	height:300px;
	border:#26343d 1px solid;
	padding:10px;
	overflow:auto;
	width:300px;
	float:left;
	margin-left:20px;
}

.buttons input {
	font-size:32px;
	font-family:Pro;
}

#current {
	height:30px;
	margin-bottom:10px;
	border:#26343d 1px solid;
	padding:10px;
	position:relative;
}

#current .item {
	font-size:28px;
	font-weight:bold;
	color:darkred;
}

#time {
	text-align:right;
	margin-bottom:10px;
}

#counter {
	font-size:28px;
	position:absolute;
	top:10px;
	right:10px;
}

table {
	width:100%;
	border-collapse: collapse;
}

td, th {
	text-align:left;
	vertical-align:top;
}

th {
	background-color:#8F463F;
	color:#26343d;
}

th.half {
	width:50%;
}

h1:first-child, h2:first-child, p:first-child {
	margin-top:0px;
}

.cke_show_borders {
	background-color:#6e7b83;
	color:#26343d;
	background-image:none;
}

a:active, a:focus {
	outline:none;
}

.container-fluid {
	max-width:1004px;
	margin:0px auto;
	min-height:563px;
	padding:10px;
}

.header {
	position:relative;
	color:#26343d;
	-webkit-border-radius:10px;
	
}

.header a {
	text-decoration:none;
}

.header h1 {
	padding-bottom:0px;
	font-size:48px;
	font-weight:bold;
	font-family: Apache;
	margin-bottom:0px;
	padding-left:0px;
}

.header h1 a {
	color:#8F463F;
}

.header h2 {
	padding-top:0px;
	margin-top:0px;
}

.header .logo {
	float:left;
	padding:4px;
	padding-right:20px;
}

.mainmenu {
	float:left;
	width:60%;
}

.mainmenu table {
	margin-top:10px;
	padding:0px;
	border-collapse:collapse;
	border-spacing:0px;
}

.mainmenu h2 {
	margin:0px;
}

h2.news {
	background-color:#8F463F;
	color:#fff;
	padding:7px 10px;
	position:relative;
}

h2.news .topright {
	position:absolute;
	top:7px;
	right:10px;
}

.menu, .submenu {
	background-color:#8F463F;
	padding:0px 5px;
	margin-top:10px;
	position:relative;
}

.submenu {
	margin-top:0px;
	background-color:#6B433E;
	border-top:2px solid #AB5F57;
}
.menu div.sub, .submenu div.sub {
	cursor:default;
}
.menu a, .menu div.sub, .submenu a, .submenu div.sub {
	color:#F6A59C;
	text-decoration:none;
}
.menu > a, .menu div.sub, .menu div.sub div a, .submenu > a, .submenu div.sub, .submenu div.sub div a {
	display:block;
	float:right;
	padding:10px 10px;
	
	position:relative;
	text-decoration:none;
}

.menu a.special {
	color:#f2c738;
}

.menu a.special:hover {
	background:inherit;
}

.menu div.item, .submenu div.item  {
	display:block;
	float:left;
	padding:6px 5px;
	color:#F6A59C;
	position:relative;
}

.menu div.sub div, .submenu div.sub div {
	display:none;
	background-color:#8F463F;
	z-index:1;
	min-width:150px;
}

.menu a:hover, .menu div.sub:hover, .submenu a:hover, .submenu div.sub:hover {
	background-color:#AB5F57;
}

.menu div.sub:hover div, .submenu div.sub:hover div {
	display:block;
	position:absolute;
	top:35px;
	left:0px;
}

.menu div.sub.right:hover div, .submenu div.sub.right:hover div {
	right:0px;
	left:auto;
}

.menu div.sub div a, .submenu div.sub div a {
	min-width:150px;
}

.menu div.sub div a:hover, .submenu div.sub div a:hover {
	background-color:#AB5F57;
}

.content {
	padding-top:10px;
}

.glass {
	padding:8px;
	background-image:url(../images/glass.png);
}

.glass.red {
	background-color:#f99;
	color:#f00;
	border:1px solid #f00;
	font-size:16px;
}

.glass.green {
	background-color:#9f9;
	color:#090;
	border:1px solid #090;
	font-size:16px;
}

.glass.yellow {
	background-color:#ff9;
	color:#990;
	border:1px solid #990;
	font-size:16px;
}

.counter {
	padding:8px;
	color:#6e7b83;
	font-size:16px;
	font-weight:bold;
	border:1px solid #333333;
	background-color:#0B0C1A;
}

.counter.good {
	color:#68843A;
	background-color:#0B1A0C;
}

.counter.bad {
	color:#6B433E;
	background-color:#1A0B0C;
}

.counter .value {
	float:right;
}

.counter.clickable {
	cursor:pointer;
}
.counter.clickable:hover {
	background-color:#1B1C2A;
}
.counter.good.clickable:hover {
	background-color:#1B2A1C;
}

.block {
	background-color:#000;
	padding:10px;
	position:relative;
	border-top:1px solid #2D445D;
	border-bottom:1px solid #2D445D;
}

.margin {
	margin-top:10px;
}

.padding {
	padding:10px;
}

.block.alt {
	background-color:transparent;
	border:1px solid #8F463F;
}

.block h1:first-child {
	font-weight:bold;
	margin-top:-10px;
	margin-left:-10px;
	padding:10px;
}

#poweredby {
	margin-top:10px;
	text-align:center;
}

.assetlist {
	padding-left:0px;
	list-style-type:none;
}

.assetlist ul {
	list-style-type:none;
}

.dark {
	color:#26343d;
}

.light {
	color:#afb3b6;
}

.topright {
	position:absolute;
	top:10px;
	right:10px;
}

.col {
	float:left;
	width:32%;
	margin-left:1%;
	margin-right:1%;
}
.col.first {
	margin-left:0%;
}
.col.last {
	margin-right:0%;
}
.col.right {
	float:right;
}
.col.half {
	width:48%;
}
.darkback {
	background-color:#000;
}
table.clean {
	border:1px solid #333333;
}
table.clean th {
	color:#fff;
}
table.clean tr.alt {
	background-color:#6B433E;
	border-top:1px #AB5F57 solid;
}
table.clean tr.alt th {
	background:transparent;
}
table.clean td, table.clean th {
	padding:3px;
}
table.clean tr:nth-child(odd) {
	background-color:#171717;
}

table.clean tr.green {
	color:#68843A;
	background-color:#0B1A0C;
}
table.clean tr.green:nth-child(odd) {
	background-color:#131F13;
}
table.clean tr.red {
	color:#8B4D43;
	background-color:#1A0B0C;
}
table.clean tr.red:nth-child(odd) {
	background-color:#1F1313;
}
table.clean tr.head {
	font-size:16px;
	color:#fff;
	font-weight:bold;
}

table.clean tr.activeupdate {
	background-color:#395666 !important;
}

table.clean tr.activemarket {
	background-color:#927738;
}

table.clean tr.activemarket a {
	color:#ffffff;
}

table.clean tr.activeupdate.activemarket {
	background-color:#aa9955;
}

table.clean td.right, table.clean th.right {
	text-align:right;
}

table.clean td.center, table.clean th.center {
	text-align:center;
}

form.clean input, form.clean textarea, form.clean select {
	font-size:16px;
	border:#afb3b6 1px solid;
	-webkit-border-radius:3px;
	padding:3px;
}

form.clean input:active {
	border-color:#f2c738;
}

form.clean dd, form.clean dt {
	margin-top:4px;
	margin-bottom:4px;
}

form.clean .fullwidth {
	width:960px;
}

form.clean select.fullwidth {
	width:968px;
}

.price {
	color:#496686;
	font-size:18px;
	line-height: 20px;
	font-weight:bold;
	top:4px;
	text-align:right;
	width:300px;
	height:40px;
}

.price span {
	position:relative;
	top:-6px;
	color:#68843A;
}

.middle td {
	vertical-align: middle;
}

.totals td {
	font-weight:bold;
}

.feedback {
	background-color:#496686;
	padding:10px;
	border:1px solid #999;
	position:relative;
	margin-top:10px;
}

.feedback h3 {
	margin-top:0px;
	margin-bottom:0px;
	cursor:pointer;
}

.feedback .favour {
	position:absolute;
	top:6px;
	right:10px;
	line-height:24px;
	display:block;
}

.feedback .love {
	color:#F6A59C;
}

.feedback .desc {
	margin-top:8px;
}

.feedback .comment {
	border:#26343d 1px solid;
	padding:4px;
	margin-bottom:4px;
}

.feedback p {
	margin-bottom:0px;
}

.green {
	color:#68843A;
}

.red {
	color:#8B4D43;
}