{% extends "layout.html.twig" %}

{% block content_header '' %}

{% block content %}
	{% set warning = "EVE Marketeer, back to normal!" %}
	{% if warning %}
	<div class="glass green">
		{{ warning }}
	</div>
	{% endif %}
	<div class="glass{if $warning} margin{/if}">
		{if $images}
		<div id="coin-slider">
			{foreach $images "image"}
			<a href="{$image->link}">
				{image $image->image $image->image_alt 988 290 'c'}
				{if $image->description}
				<span>
			{$image->description}
		</span>
				{/if}
			</a>
			{/foreach}
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#coin-slider').coinslider({
					width: 988,
					height: 290,
					navigation: false,
					delay:6000
				});
			});
		</script>
		{else}
		<div class="block">
			{setting 'home_description'}
		</div>
		{/if}
	</div>

	<div class="glass margin">
		<div class="col first darkback">
			{foreach $entries "entry"}
			<h2 class="news">{$entry->name} <div class="topright"><i>{$entry->datum}</i></div></h2>
			<div class="padding">
				{$entry->tekst}
			</div>
			{/foreach}
		</div>
		<div class="col darkback">
			<h2 class="news">EVE Market Topics</h2>
			<div  class="padding">
				{% for title, link in forum %}
				<p><strong><a href="{{ link }}">{{ title }}</a></strong></p>
				{% endfor %}
			</div>
		</div>
		<div class="col last">
			<div class="uploader" onclick="window.location='{$site.root}downloads';">
				<h1>DOWNLOAD UPLOADER</h1>
				<p>Help us by providing data. Will upload to both EVE Marketdata and EVE Marketeer!<br /><span style="color:#F2C738;">Upload key can be found on the 'Account' subitem of 'My Market' after login.</span></p>
			</div>
			<div class="uploader margin" onclick="window.location=root+'uploader'">
				<h1>Help uploading!</h1>
				<p>Help us by providing data. Be sure to enter your upload key before uploading!</p>
			</div>
			<div class="uploader margin" onclick="CCPEVE.joinChannel('EMarketeer');">
				<h1>Join our channel!</h1>
				<p>Join the <a href="javascript:CCPEVE.joinChannel('EMarketeer');">EVE Marketeer channel</a> (need trust) to give feedback or just chat.</p>
			</div>
			<div class="uploader alternate margin" onclick="window.location='https://forums.eveonline.com/default.aspx?g=posts&t=6686&find=unread';">
				<h1>EVE Online Forum</h1>
				<p>Find the thread on the EVE Online forums.</p>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
	<script>
		$(function() {
			$('#itemsearch').focus();
		});
	</script>
{% endblock %}
