{% extends "layout.html.twig" %}

{% block pageheader %}<h1><i class="fa fa-puzzle-piece"></i> Select Regions</h1>{% endblock %}

{% block content %}
	<form method="post" action="{{ path('region_selection') }}">
		<div class="clearfix">
			{% for region in regions if region.regionId < 11000000 %}
				<div class="search-result {{ region in app.user.regions ? 'active' : '' }}">
					<div class="cutoff-box">
						<input class="hidden" type="checkbox" name="region[]" value="{{ region.regionId }}" {{ region in app.user.regions ? 'checked="checked"' : '' }} />
						{{ region.regionName }}
						<input class="hidden" type="radio" name="primaryRegion" value="{{ region.regionId }}" {{ region == app.user.primaryRegion ? 'checked="checked"' : '' }} />
						<div class="tag fa fa-star tip {{ region == app.user.primaryRegion ? 'active' : '' }}" title="Make Primary"></div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="form-submit clearfix">
			<input type="submit" value="Save!" class="btn btn-primary btn-lg pull-right">
		</div>
</form>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% javascripts '@MarketeerBundle/Resources/public/js/controller/Home/regions.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}