{if $entry}
<div class="glass">
	<div class="block">
		<h1>{$entry->name}{if $entry->created_by}<small> (Created by: {$entry->created_by})</small>{/if}</h1>
		<div style="float:right;width:300px;height:400px;">{image $entry->image $entry->image_alt 300 400 'f'}</div>
		<p><a href="{$entry->link}">{$entry->link}</a></p>
		{$entry->description}
		<div class="clear"></div>
		<p><a href="{$site.root}home/tools">Return</a></p>
	</div>
</div>
{else}
<div class="glass">
	<div class="block">
		<h1>EVE Tools</h1>
		{foreach $cats.entries "cat"}
			<h2>{$cat->name}</h2>
			{$cat->description}
			<table class="clean middle margin">
			{foreach $entries "entry"}{if $entry->lc_eve_tool_category_id == $cat->id}
			<tr><td width="1%" class="image">{if $entry->image}{image $entry->image $entry->image_alt 32 32 'c'}{else}<img src="{$site.root}res/img/question-mark.jpg" />{/if}</td><td width="15%"><a href="{$site.root}home/tools/{$entry->id}">{$entry->name}</a></td><td width="45%">{$entry->short}</td><td width="10%">{$entry->type}</td><td width="10%">{$entry->os}</td><td width="10%">{if $entry->character_id}<a href="javascript:CCPEVE.showInfo(1377, {$entry->character_id});">{/if}{$entry->created_by}{if $entry->character_id}</a>{/if}</td><td width="10%">{if $entry->link}<a href="{$entry->link}">Website</a>{/if}</td></tr>
			{/if}{/foreach}
			</table>
		{/foreach}
	</div>
</div>
{/if}