<div class="glass">
	<div class="block">
		<h1>Upload Statistics</h1>
		<div class="topright small">Next Update: {$nrs=date('i')}{$nr=abs($nrs-60)}{$nr}m</div>
		<div class="columns">
			<div class="col first">
				<h2>Top Credits</h2>
				<table class="clean">
				{foreach $credits "row"}
				<tr><td width="50%">{$row->name}</td><td style="text-align:right;">{if $row->credits}{$row->credits|number_format:2}{else}0{/if}</td></tr>
				{/foreach}
				</table>
			</div>
			<div class="col">
				<h2>Top Uploads</h2>
				<table class="clean">
				{foreach $uploads "row"}
				<tr><td width="1%"><img align="top" src="{$site.root}core/res/img/icon16/bullet_{if $row->now_uploading}green{else}red{/if}.png" title="{if $row->now_uploading}Currently Active{else}Currently Inactive{/if}" /></td><td width="50%">{$row->name}</td><td style="text-align:right;">{if $row->uploads}{$row->uploads|number_format}{else}0{/if}</td></tr>
				{/foreach}
				</table>
			</div>
			<div class="col last">
				<h2>Top First Uploads</h2>
				<table class="clean">
				{foreach $first_uploads "row"}
				<tr><td width="50%">{$row->name}</td><td style="text-align:right;">{if $row->first_uploads}{$row->first_uploads|number_format}{else}0{/if}</td></tr>
				{/foreach}
				</table>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>