<div class="glass">
	<div class="block">
		<h1>EVE Marketeer Statistics</h1>
		{foreach $stats "name" "value"}
		<div class="counter margin">{$name}<div class="value">{$value->count|number_format}</div></div>
		{/foreach}
	</div>
</div>