<div class="glass">
	<div class="block">
		<h1>Region Completeness</h1>
		<table class="clean">
			<tr><th>Region</th><th class="right">Last hour</th><th class="right">Last day</th><th class="right">Last week</th><th class="right">Last month</th><th class="right">Last year</th><th class="right">Avg. Time Ago</th></tr>
			{$max=$total_items->nr}
		{foreach $regions "region"}
		<tr class="{if $region->avg_time_ago > 86400*2 || $region->avg_time_ago == 0}red{else}green{/if}">
			<td>{$region->regionName}</td>
			<td class="right" style="color:#{gradient $region->1uur/$max*100 100 'FF0000' '00FF00' 'FFFF00'}">{if $region->1uur/$max*100 > 100}100%{else}{$region->1uur/$max*100|number_format:0}%{/if}</td>
			<td class="right" style="color:#{gradient $region->1dag/$max*100 100 'FF0000' '00FF00' 'FFFF00'}">{if $region->1dag/$max*100 > 100}100%{else}{$region->1dag/$max*100|number_format:0}%{/if}</td>
			<td class="right" style="color:#{gradient $region->7dag/$max*100 100 'FF0000' '00FF00' 'FFFF00'}">{if $region->7dag/$max*100 > 100}100%{else}{$region->7dag/$max*100|number_format:0}%{/if}</td>
			<td class="right" style="color:#{gradient $region->31dag/$max*100 100 'FF0000' '00FF00' 'FFFF00'}">{if $region->31dag/$max*100 > 100}100%{else}{$region->31dag/$max*100|number_format:0}%{/if}</td>
			<td class="right" style="color:#{gradient $region->365dag/$max*100 100 'FF0000' '00FF00' 'FFFF00'}">{if $region->365dag/$max*100 > 100}100%{else}{$region->365dag/$max*100|number_format:0}%{/if}</td>
			<td class="right" {if $region->avg_time_ago > 0}style="color:#{gradient diminishing_returns($region->avg_time_ago, 43200) 86400*3 '00FF00' 'FF0000' 'FFFF00'}"{/if}>{if $region->avg_time_ago > 0}{$region->avg_time_ago|time_format:false:true}{else}never{/if}</td>
		</tr>
		{/foreach}
		</table>
	</div>
</div>