<div class="glass"><div class="block">
		<h1>Uploads</h1>
		<div class="topright">Uploads in past <select name="hours" onchange="window.location=root+'statistics/uploads/'+$(this).val();">
			<option value="1" {if $hours == 1}selected="selected"{/if}>1 Hours</option>
			<option value="4" {if $hours == 4}selected="selected"{/if}>4 Hours</option>
			<option value="8" {if $hours == 8}selected="selected"{/if}>8 Hours</option>
			<option value="24" {if $hours == 24}selected="selected"{/if}>24 Hours</option>
		</select></div>
		<table class="charactertable">
	{$nr=0}<tr>
	{foreach $thirdparty "region"}
	{$nr=$nr+1}<td><img align="top" src="{$site.root}core/res/img/icon16/bullet_{if $region->active}green{else}red{/if}.png" title="{if $region->active}Active{else}Inactive{/if}" /></td><td title="region">{$region->regionName}</td><td title="uploads">{$region->active}</td>
{if $nr==4}</tr><tr>{$nr=0}{/if}
{/foreach}
	</tr>
</table>
<h2>Upload backlog</h2>
<div class="counter">EVE Marketeer <div class="value">{$upload_emk_backlog->count}</div></div>
<div class="counter margin">EVE Marketdata <div class="value">{$upload_emd_backlog->count}</div></div>
<div class="counter margin">EVE Central <div class="value">{$upload_ec_backlog->count}</div></div>
</div></div>