<div class="glass">
	<div class="block">
		<h1>Blueprints for {if $type=='corporation'}{$session.character->corporationName} (as built by {$session.character->name}){else}{$session.character->name}{/if}</h1>
		<p>Takes into account your skills and the material level. If you do not see a material level, just start a job with the blueprint (and cancel it) to have the level appear.</p>
		<table class="clean">
			<tr>
				<th>Blueprint</th><th>Type</th><th class="center">ME</th><th class="center">PE</th><th class="center">Runs</th><th class="right">Material</th><th class="right">Sell/Buy</th><th class="right">Sell/Buy Profit/Day</th>
			</tr>
			{foreach $table "row"}
				<tr class="middle {if $row->sell_profit_day > 0 || $row->buy_profit_day > 0}green{else}red{/if}">
					<td>{itemlink $row->typeID $row->typeName}</td><td>{$row->blueprint_type}</td><td class="center">{or $row->me '?'}</td><td class="center">{or $row->pe '?'}</td><td class="center">{or $row->runs '?'}</td><td class="right">{if $row->material_cost}{$row->material_cost|number_format:2}{else}0{/if}</td><td class="right">{if $row->sell}{$row->sell|number_format:2}{else}0{/if} S<br />{if $row->buy}{$row->buy|number_format:2}{else}0{/if} B</td><td class="right">{if $row->sell_profit_day}{$row->sell_profit_day|number_format:2}{else}0{/if} S<br />{if $row->buy_profit_day}{$row->buy_profit_day|number_format:2}{else}0{/if} B</td>
				</tr>
			{/foreach}
		</table>
	</div>
</div>