<div class="glass">
<div class="block">
<h1>Best margins when manufacturing.</h1>
<p>If you buy minerals off the market. Click on a name to show items of that level.</p>
<h2 onclick="$('#tech1').toggle();" style="cursor:pointer;">Tech1</h2>
<div id="tech1" style="display:none;">
<table class="clean">
	<tr><th>Type</th><th>Manufacture Cost</th><th>Selling Price</th><th>Buying Price</th><th>Transactions/day</th><th>Built/day</th><th>Profit/day</th></tr>
{foreach $table "row"}
<tr><td>{itemlink $row->TypeID $row->TypeName}</td><td>{$row->manufacture_cost|number_format}</td><td>{$row->selling_price|number_format}</td><td>{$row->buying_price|number_format}</td><td>{$row->average|round:2}</td><td>{$row->build_per_day|round:2}</td><td>{$row->profit_per_day|number_format}</td></tr>
{/foreach}
</table>
</div>
<h2 onclick="$('#tech2').toggle();" style="cursor:pointer;">Tech2</h2>
<div id="tech2" style="display:none;">
<table class="clean">
	<tr><th>Type</th><th>Manufacture Cost</th><th>Selling Price</th><th>Buying Price</th><th>Transactions/day</th><th>Built/day</th><th>Profit/day</th></tr>
{foreach $table_tech2 "row"}
<tr><td>{itemlink $row->TypeID $row->TypeName}</td><td>{$row->manufacture_cost|number_format}</td><td>{$row->selling_price|number_format}</td><td>{$row->buying_price|number_format}</td><td>{$row->average|round:2}</td><td>{$row->build_per_day|round:2}</td><td>{$row->profit_per_day|number_format}</td></tr>
{/foreach}
</table>
</div>
<h2 onclick="$('#tech3').toggle();" style="cursor:pointer;">Tech3</h2>
<div id="tech3" style="display:none;">
<table class="clean">
	<tr><th>Type</th><th>Manufacture Cost</th><th>Selling Price</th><th>Buying Price</th><th>Transactions/day</th><th>Built/day</th><th>Profit/day</th></tr>
{foreach $table_tech3 "row"}
<tr><td>{itemlink $row->TypeID $row->TypeName}</td><td>{$row->manufacture_cost|number_format}</td><td>{$row->selling_price|number_format}</td><td>{$row->buying_price|number_format}</td><td>{$row->average|round:2}</td><td>{$row->build_per_day|round:2}</td><td>{$row->profit_per_day|number_format}</td></tr>
{/foreach}
</table>
</div>
<h2 onclick="$('#faction').toggle();" style="cursor:pointer;">Faction</h2>
<div id="faction" style="display:none;">
<table class="clean">
	<tr><th>Type</th><th>Manufacture Cost</th><th>Selling Price</th><th>Buying Price</th><th>Transactions/day</th><th>Built/day</th><th>Profit/day</th></tr>
{foreach $table_faction "row"}
<tr><td>{itemlink $row->TypeID $row->TypeName}</td><td>{$row->manufacture_cost|number_format}</td><td>{$row->selling_price|number_format}</td><td>{$row->buying_price|number_format}</td><td>{$row->average|round:2}</td><td>{$row->build_per_day|round:2}</td><td>{$row->profit_per_day|number_format}</td></tr>
{/foreach}
</table>
</div>
</div>
	</div>