<div class="clearfix">
	{% for idx, result in results %}
		<div class="search-result">
			<a class="cutoff-box" href="{{ path('type', { id: result.typeId }) }}">
				<img src="http://image.eveonline.com/Type/{{ result.typeId }}_32.png" />
				{{ result.typeName }}
			</a>
		</div>
	{% endfor %}
</div>