<h2>Revert orders to before</h2>
<ul>
{foreach $item.admin.recent_changes "change"}
	<li><a href="{$site.root}uploader/revert_to_state/{$item.item->region_id}/{$item.item->typeID}/{$change->reported_at|replace:' ':'_'}">{$change->reported_at}</a></li>
{/foreach}
</ul>