<h2>Sell</h2>
<table width="100%" class="clean tablesorter" id="ts">
	<thead>
	<tr><th width="10%">Quantity</th><th width="25%">Price</th><th width="55%">Location</th><th width="10%">Expires In</th></tr>
	</thead>
	<tbody>
	{foreach $sellorders "row"}
	<tr>
		<td style="text-align:right;">{$row->qty_avail|number_format}</td><td style="text-align:right;">{$row->price|number_format:2}</td><td>{$row->itemName}</td><td>{$row->expires}D</td>
	</tr>
	{foreachelse}
	<tr>
		<td colspan="4">No orders found</td>
	</tr>
	{/foreach}
	</tbody>
</table>
<h2>Buy</h2>
<table width="100%" class="clean tablesorter" id="tb">
	<thead>
	<tr><th width="10%">Quantity</th><th width="20%">Price</th><th width="40%">Location</th><th width="10%">Range</th><th width="10%">Min Vol.</th><th width="10%">Expires In</th></tr>
	</thead>
	<tbody>
	{foreach $buyorders "row"}
	<tr>
		<td style="text-align:right;">{$row->qty_avail|number_format}</td><td style="text-align:right;">{$row->price|number_format:2}</td><td>{$row->itemName}</td><td>{if $row->range2 == -1}Station{elseif $row->range2 == 1}System{elseif $row->range2 == 32767}Region{else}{$row->range2}{/if}</td><td>{$row->qty_min}</td><td>{$row->expires}D</td>
	</tr>
	{foreachelse}
	<tr>
		<td colspan="6">No orders found</td>
	</tr>
	{/foreach}
	</tbody>
</table>