{if $currentgroup}<div class="counter clickable" onclick="$('#marketlist').load(root+'item/group');">/</div>{/if}
{if $currentgroup->parentGroupID}<div class="counter margin clickable" onclick="$('#marketlist').load(root+'item/group/{$currentgroup->parentGroupID}');">..</div>{/if}
{foreach $groups "group"}
	<div class="counter margin clickable" onclick="$('#marketlist').load(root+'item/group/{$group->marketGroupID}');">{if $group->iconFile}<img align="top" src="http://evefiles.capsuleer.de/icons/32_32/icon{$group->iconFile}.png" height="20"/> {/if}{$group->marketGroupName}</div>
{/foreach}
{foreach $items "item"}
	<div class="counter good margin clickable" onclick="window.location=root+'item/itemprice/{$item->typeID}'"><img align="top" src="http://evefiles.capsuleer.de/types/{$item->typeID}_32.png" height="20"/> {$item->typeName}</div>
{/foreach}