<img src="{$site.root}graph/history/{$item.type_id}/30/465" /><img src="{$site.root}graph/history/{$item.type_id}/90/465" /><br />
<img src="{$site.root}graph/history/{$item.type_id}/3600" />
<table width="100%" class="clean tablesorter" id="ts">
	<thead>
	<tr><th width="15%">Date</th><th width="15%">Transactions</th><th width="10%">Orders</th><th width="20%" class="right">Highest Price</th><th width="20%" class="right">Average Price</th><th width="20%" class="right">Lowest Price</th></tr>
	</thead>
	<tbody>
	{foreach $item.history "row"}
	<tr>
		<td>{$row->date}</td><td>{$row->quantity|number_format}</td><td>{$row->num_orders|number_format}</td><td class="right">{$row->price_high|number_format:2}</td><td class="right">{$row->price_average|number_format:2}</td><td class="right">{$row->price_low|number_format:2}</td>
	</tr>
	{foreachelse}
	<tr>
		<td colspan="4">No history found</td>
	</tr>
	{/foreach}
	</tbody>
</table>