<table class="clean">
	<tr>
		<th>Time</th><th>Type</th><th>Amount</th><th>Price</th><th class="right">Value</th><th class="right">Type</th>{if $user->check_level(90)}<th>Reported At</th>{/if}
	</tr>
	{foreach $item.inferred "row"}
	<tr>
		<td>{$row->datetime}</td><td>{$row->type}</td><td>{$row->change}</td><td>{$row->old_price}</td><td class="right">{$val=$row->old_price*$row->change}{$val|number_format:2}</td><td class="right">{$row->report_type}</td>{if $user->check_level(90)}<td>{$row->reported_at}</td>{/if}
	</tr>
	{/foreach}
</table>