<script>
	$(function() {
		$('#itemsearch').focus();
	});
</script>

{$itemprice = isk_price($item.typeID)}
<div class="glass">
<div class="block">
	{if $search}
		<h1>Could not find '{$session.itemprice_name}'</h1>
		{if $searchresult}
			<p>Perhaps you meant one of these items?</p>
			{foreach $searchresult "item"}
				<div class="counter good margin clickable" onclick="window.location=root+'item/itemprice/{$item->typeName|replace:' ':'_'}'"><img align="top" src="http://evefiles.capsuleer.de/types/{$item->typeID}_32.png" height="20"/> {$item->typeName}</div>
			{/foreach}
		{else}
			<p>We could not find any items like the one you were searching for either.</p>
		{/if}
	{else}
	<h1>{itemlink $item.typeID $item.item->typeName}{if $item.blueprint->typeID} ({itemlink $item.blueprint->typeID $item.blueprint->typeName}){/if}</h1>
	<div class="price topright">{if $item.price_change->s5change}<small class="{if $item.price_change->s5change > 0}green{else}red{/if}">{if $item.price_change->s5change > 0}+{/if}{$item.price_change->s5change*100|round:2}%</small> {/if}{number_format($item.item->sell_lowest5*$item.portionSize, 2)} ISK{if is_numeric($item.blueprint->sell_lowest)}<br /><span style="font-size:10px;">BPC {$amount=$item.blueprint->sell_lowest5*0.03}{$amount|number_format:2} ISK, BPO {number_format $item.blueprint->sell_lowest5 2} ISK</span>{/if}</div>
	<div style="position:relative;">
		<table class="darkback" style="width:66%;float:left;">
			<tr><td width="64"><img src="http://evefiles.capsuleer.de/types/{$item.typeID}_64.png" align="middle" /></td><td style="position:relative;">
					<table>
						<tr><td width="30%">Portionsize</td><td>{$item.portionSize}</td><td class="right"><a href="{$site.root}item/report/{$session.regionid}/{$item.item->typeID}" title="Report this item/information if you think it has been tampered with">Report</a></td>
						<tr><td>Type ID</td><td>{$item.item->typeID}</td>{if $user}<td class="right"><a href="javascript:;" id="overview_add" onclick="$.ajax({ url: root+'item/addoverviewitem/{$item.item->typeID}', success: function(data) { $('#overview_add').hide(); } });">Add to My Market</a></td>{/if}
						<tr><td>Region ID</td><td>{$item.item->region_id}</td>{if $user && $session.character_id}<td class="right"><a href="{$site.root}trade/transaction_history/type/{$item.item->typeID}">My Transactions</a></td>{/if}
						{if $item.item->average}<tr><td>Avg Trans. per day</td><td>{$item.item->average|number_format:2}</td>{/if}
					</table>
				</td></tr>
			<tr>
				<td colspan="2">
					{$item.item->description|nl2br}
					<div class="clear"></div>
				</td>
			</tr>
		</table>
		<div class="col right darkback">
			<table class="clean">
				<tr><td>Buy Orders</td><td style="text-align:right;">{if $item.item->buy_orders}{$item.item->buy_orders|number_format}{else}0{/if}</td></tr>
				<tr><td>Sell Orders</td><td style="text-align:right;">{if $item.item->sell_orders}{$item.item->sell_orders|number_format}{else}0{/if}</td></tr>
				<tr><td>Supply</td><td style="text-align:right;">{if $item.item->supply}{$item.item->supply|number_format:2}{else}0{/if}</td></tr>
				<tr><td>Demand</td><td style="text-align:right;">{if $item.item->demand}{$item.item->demand|number_format:2}{else}0{/if}</td></tr>
				<tr><td>Inf. Sales</td><td style="text-align:right;">{if $item.inferred_count->sell_amount}{$item.inferred_count->sell_amount|number_format:2}{else}unknown{/if}</td></tr>
				<tr><td>Inf. Bought</td><td style="text-align:right;">{if $item.inferred_count->buy_amount}{$item.inferred_count->buy_amount|number_format:2}{else}unknown{/if}</td></tr>
				<tr height="10"><td></td><td></td></tr>
				<tr><td>Updated</td><td style="text-align:right;">{if $item.item->datetime}{$item.item->datetime}{else}unknown{/if}</td></tr>
				<tr><td>From</td><td style="text-align:right;">{if $item.item->source}{$item.item->source}{else}unknown{/if}</td></tr>
			</table>
		</div>
		
	</div>
	<div class="clear"></div>
	<div class="tabs margin">
		<ul>
			<li><a href="{$site.root}item/orders/{$item.item->typeID}">Orders</a></li>
			<li><a href="{$site.root}item/history/{$item.item->typeID}">History</a></li>
			<li><a href="{$site.root}item/regional/{$item.item->typeID}">Regional Prices</a></li>
			{if $item.blueprint->typeID}<li><a href="{$site.root}item/manufacturing/{$item.item->typeID}">Manufacturing & Research</a></li>{/if}
			<li><a href="{$site.root}item/inferred/{$item.item->typeID}">Inferred Trades</a></li>
			{if $user->check_level(90)}<li><a href="{$site.root}item/admin/{$item.item->typeID}">Administrative</a></li>{/if}
		</ul>
	</div>
	{/if}
	</div>
	
</div>