<table class="clean">

			{if $item.blueprint}
	<tr><td>Production Time</td><td>{time_format $item.blueprint->productionTime}</td></tr>
	<tr><td>Built per Day</td><td>{$amount=86400}{$amount=$amount/$item.blueprint->productionTime}{$amount|number_format:2}</td></tr>
	<tr><td>Research Prod. Time</td><td>{time_format $item.blueprint->researchProductivityTime}</td></tr>
	<tr><td>Research Mat. Time</td><td>{time_format $item.blueprint->researchMaterialTime}</td></tr>
	<tr><td>Perfect ME</td><td>{$item.perfect_me}</td></tr>
	<tr><td>Time to Perfect ME</td><td>{$amount=$item.perfect_me*$item.blueprint->researchMaterialTime}{time_format $amount}</td></tr>
	<tr><td>Research Copy Time</td><td>{time_format $item.blueprint->researchCopyTime}</td></tr>
	<tr><td>Invention Time</td><td>{time_format $item.blueprint->researchTechTime}</td></tr>
	<tr><td>Max Production Limit</td><td>{$item.blueprint->maxProductionLimit}</td></tr>{/if}
</table>
<div>
	{if $item.skills || $item.actions}
	{if $item.skills}
	<div class="col half darkback">
		<h3>Skills</h3>
		<table class="clean">
			<tr><th>Skill</th><th>Level</th></tr>
			{foreach $item.skills "component"}
			<tr><td>{$component->typeName}</td><td>{skill_bar $component->quantity}</td></tr>
				{if $component->requirements}
					{foreach $component->requirements "requirement"}
			<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;{$requirement->typeName}</td><td>{skill_bar $requirement->level}</td></tr>
						{if $component->requirements}
							{foreach $requirement->requirements "requirement"}
			<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$requirement->typeName}</td><td>{skill_bar $requirement->level}</td></tr>
									{if $component->requirements}
										{foreach $requirement->requirements "requirement"}
			<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$requirement->typeName}</td><td>{skill_bar $requirement->level}</td></tr>
										{/foreach}
									{/if}
							{/foreach}
						{/if}
					{/foreach}
				{/if}
			{/foreach}
		</table>
	</div>
	{/if}
	{if $item.actions}
	<div class="col half darkback">
		<h3>Actions</h3>
		<table class="clean"><tr><th colspan="2">Item</th><th>#</th><th>Consumed</th></tr>
			{$activity=""}
			{foreach $item.actions "component"}
			{if $component->activityName != $activity}
			<tr><td colspan="4"><b>{$component->activityName}</b></td></tr>
			{$activity=$component->activityName}
			{/if}
			<tr>
				<td width="20"></td>
				<td>{itemlink $component->typeID $component->typeName}</td>
				<td>{$component->quantity}</td>
				<td>{$component->damagePerJob*100}%</td>
			</tr>
			{/foreach}
		</table>
	</div>
	{/if}
	{/if}
	{if $item.materials || $item.extramaterials}
	{if $item.materials}
	<div class="col half darkback">
		<h3>Raw Materials</h3>
		<table class="clean"><tr><th>Component</th><th>#</th><th style="text-align:right;">Cost</th></tr>
	{foreach $item.materials "component"}
			<tr>
				<td>{itemlink $component->typeID $component->typeName}</td>
				<td>{$component->quantity}</td>
				<td style="text-align:right;">{$total=$component->quantity*$component->sell_lowest5}{$total|number_format}{if $component->materials}{$mtotal=$component->quantity*$component->material_price}<br />({$mtotal|number_format}){/if}</td>
		{$grandtotal=$grandtotal+$total}
		{if $component->materials}{$grandmtotal=$grandmtotal+$mtotal}{else}{$grandmtotal=$grandmtotal+$total}{/if}
			</tr>
	{if $component->materials}
		{foreach $component->materials "component"}
			<tr>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;{itemlink $component->typeID $component->typeName}</td>
				<td>{$component->quantity}</td>
				<td style="text-align:right;">{$total=$component->quantity*$component->sell_lowest5}{$total|number_format}{if $component->materials}{$mtotal=$component->quantity*$component->material_price}<br />({$mtotal|number_format}){/if}</td>

			</tr>
			{if $component->materials}
				{foreach $component->materials "component"}
			<tr>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{itemlink $component->typeID $component->typeName}</td>
				<td>{$component->quantity}</td>
				<td style="text-align:right;">{$total=$component->quantity*$component->sell_lowest5}{$total|number_format}</td>

			</tr>
				{/foreach}
			{/if}
		{/foreach}
	{/if}
	{/foreach}
			<tr>
				<td colspan="3" style="text-align:right;">Total: {$grandtotal|number_format}</td>
			</tr>
			<tr>
				<td colspan="3" style="text-align:right;">Material Total: {$grandmtotal|number_format}</td>
			</tr>
		</table>
	</div>
	{/if}
	{if $item.extramaterials}
	<div class="col half darkback">
		<h3>Extra Materials</h3>
	{$grandtotal = 0}
	{$grandmtotal = 0}
		<table class="clean"><tr><th>Component</th><th>#</th><th>Consumed</th><th style="text-align:right;">Total Cost</th></tr>
	{foreach $item.extramaterials "component"}
			<tr>
				<td>{itemlink $component->typeID $component->typeName}</td>
				<td>{$component->quantity}</td>
				<td>{$component->damagePerJob*100}%</td>
				<td style="text-align:right;">{$total=$component->quantity*$component->sell_lowest5}{$total|number_format}{if $component->materials}{$mtotal=$component->quantity*$component->material_price}<br />({$mtotal|number_format}){/if}</td>
		{$grandtotal=$grandtotal+$total}
		{if $component->materials}{$grandmtotal=$grandmtotal+$mtotal}{else}{$grandmtotal=$grandmtotal+$total}{/if}
			</tr>
	{if $component->materials}
		{foreach $component->materials "component"}
			<tr>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;{itemlink $component->typeID $component->typeName}</td>
				<td>{$component->quantity}</td>
				<td></td>
				<td style="text-align:right;">{$total=$component->quantity*$component->sell_lowest5}{$total|number_format}{if $component->materials}{$mtotal=$component->quantity*$component->material_price}<br />({$mtotal|number_format}){/if}</td>
			</tr>
			{if $component->materials}
				{foreach $component->materials "component"}
			<tr>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{itemlink $component->typeID $component->typeName}</td>
				<td>{$component->quantity}</td>
				<td></td>
				<td style="text-align:right;">{$total=$component->quantity*$component->sell_lowest5}{$total|number_format}</td>

			</tr>
				{/foreach}Hul
			{/if}
		{/foreach}
	{/if}
	{/foreach}
			<tr>
				<td colspan="4" style="text-align:right;">Total: {$grandtotal|number_format}</td>
			</tr>
			<tr>
				<td colspan="4" style="text-align:right;">Material Total: {$grandmtotal|number_format}</td>
			</tr>
		</table>
	</div>
	{/if}
	<div class="clear"></div>
	{/if}
</div>
{if $item.total_materials}
<div class="darkback margin">
	<h3>Total Materials</h3>
	<table>
		<tr><td>Amount</td><td><input type="text" id="tm_amount" value="1" /></td><td>ME</td><td><input type="text" id="tm_me" value="0" /></td><td>PE</td><td><input type="text" id="tm_pe" value="0" /></td><td>Top Lvl Comp.</td><td><input type="checkbox" id="tm_bc" value="1" /></td><td style="text-align:right;"><input type="button" value="calculate" onclick="$('#grandtotal').fadeTo(500, 0.5);$('#grandtotal').load(root+'item/total_materials/{$item.type_id}/'+$('#tm_amount').val()+'/'+$('#tm_me').val()+'/'+$('#tm_pe').val()+'/'+($('#tm_bc').is(':checked')?1:0), function() { $('#grandtotal').fadeTo(500, 1); });"/></td></tr>
	</table>
	<div id="grandtotal">
	{$grandtotal=0}{$grandvtotal=0}
		<table class="clean"><tr><th>Component</th><th>#</th><th>@</th><th style="text-align:right;">Cost</th><th style="text-align:right;">Volume</th></tr>
		{foreach $item.total_materials "typeID" "component"}
			<tr>
				<td>{itemlink $typeID $component.name}</td>
				<td>{$component.amount|number_format} (+{$component.wastage|number_format:2}%)</td>
				<td>{$component.price|number_format:2}</td>
				<td style="text-align:right;">{$total=$component.amount*$component.price}{$total|number_format}</td>
				<td style="text-align:right;">{$vtotal=$component.amount*$component.volume}{$vtotal|number_format}</td>
				{$grandtotal=$grandtotal+$total}{$grandvtotal=$grandvtotal+$vtotal}
			</tr>
		{/foreach}
		{$amount = 1}
			<tr>
				<td colspan="3" style="text-align:right;">Total</td><td style="text-align:right;">{$grandtotal|number_format}</td><td style="text-align:right;">{$grandvtotal|number_format}</td>
			</tr>
			<tr>
				<td colspan="3" style="text-align:right;">Total Profit/per hour Sell</td><td style="text-align:right;">{$profit=$item.item->sell_lowest5*$amount}{$profit=$profit-$grandtotal}{$profit|number_format}</td><td style="text-align:right;">{$timeinh=$item.blueprint->productionTime/3600}{$profit/$timeinh|number_format:2}</td>
			</tr>
			<tr>
				<td colspan="3" style="text-align:right;">Total Profit/per hour Buy</td><td style="text-align:right;"> {$profit=$item.item->buy_highest5*$amount}{$profit=$profit-$grandtotal}{$profit|number_format}</td><td style="text-align:right;">{$timeinh=$item.blueprint->productionTime/3600}{$profit/$timeinh|number_format:2}</td>
			</tr>
			<tr>
				<td colspan="3" style="text-align:right;">Time To Build</td><td style="text-align:right;">{$time=$item.blueprint->productionTime*$amount}{$time|time_format}</td><td style="text-align:right;"></td>
			</tr>
		</table>
	</div>
</div>
{/if}