<script>
	function startLookup(typeid, regionid) {
		$('#loader').show();
		$('#loader').attr('src', root+'res/img/ajax-loader.gif');
		$('#loadertext').html('Updating...');
		$.ajax({
			url: root+'raw/item/startrequest/'+typeid+'/'+regionid,
			dataType: 'json',
			success: function(data) {
				if (data.success) {
					checkResult(data.requestid);
				} else {
					$('#loader').attr('src', root+'core/res/img/icon16/error.png');
					$('#loader').attr('title', 'Request could not be placed');
					$('#loadertext').html('Live Refresh');
				}
			}
		});
	}
	function checkResult(requestid) {
		$.ajax({
			url: root+'json/item/checkresult/'+requestid,
			dataType: 'json',
			success: function(data) {
				if (data.success == 1) {
					$('#orderdata').html(data.body);
					$('#loader').attr('src', root+'core/res/img/icon16/accept.png');
					$('#loader').attr('title', 'Request completed succesfully');
					$('#loadertext').html('Live Refresh');
				} else {
					$('#loader').attr('src', root+'core/res/img/icon16/error.png');
					if (data.accepted) {
						$('#loader').attr('title', 'Data wasnt uploaded');
					} else {
						$('#loader').attr('title', 'Request was never accepted');
					}
					$('#loadertext').html('Live Refresh');
				}
			}
		});
	}
</script>
{if $item.item->last_deliver}<div style="position:relative;"><div class="topright"><img align="top" src="{$site.root}res/img/ajax-loader.gif" id="loader" style="display:none;" /> <a href="javascript:startLookup({$item.item->typeID}, {$session.regionid});" id="loadertext">Live Refresh</a></div></div>{/if}
<div id="orderdata">
	<h2>Sell</h2>
	<table width="100%" class="clean tablesorter" id="ts">
		<thead>
		<tr><th width="10%">Quantity</th><th width="25%">Price</th><th width="55%">Location</th><th width="10%">Expires In</th></tr>
		</thead>
		<tbody>
		{foreach $item.sellorders "row"}
		<tr>
			<td style="text-align:right;">{$row->qty_avail|number_format}</td><td style="text-align:right;">{$row->price|number_format:2}</td><td>{$row->itemName}</td><td>{$row->expires}D</td>
		</tr>
		{foreachelse}
		<tr>
			<td colspan="4">No orders found</td>
		</tr>
		{/foreach}
		</tbody>
	</table>
	<h2>Buy</h2>
	<table width="100%" class="clean tablesorter" id="tb">
		<thead>
		<tr><th width="10%">Quantity</th><th width="20%">Price</th><th width="40%">Location</th><th width="10%">Range</th><th width="10%">Min Vol.</th><th width="10%">Expires In</th></tr>
		</thead>
		<tbody>
		{foreach $item.buyorders "row"}
		<tr>
			<td style="text-align:right;">{$row->qty_avail|number_format}</td><td style="text-align:right;">{$row->price|number_format:2}</td><td>{$row->itemName}</td><td>{if $row->range2 == -1}Station{elseif $row->range2 == 0}System{elseif $row->range2 == 32767 || $row->range2 == 65535}Region{else}{$row->range2}{/if}</td><td>{$row->qty_min}</td><td>{$row->expires}D</td>
		</tr>
		{foreachelse}
		<tr>
			<td colspan="6">No orders found</td>
		</tr>
		{/foreach}
		</tbody>
	</table>
</div>