<div class="glass">
	<div class="block">
		<h1>My Market</h1>
		{if !$user}
			<p>You need to be <a href="{$site.root}admin/user/display">logged in</a> to use this functionality.</p>
		{else}
		<p><b>Quick Destinations (IGB)</b>: {foreach $locations "location"}{if $location_id != $location->solarSystemID}<a class="clickable" onclick="CCPEVE.setDestination({$location->solarSystemID});">{$location->solarSystemName}</a>{else}{$location->solarSystemName}{/if} {/foreach} <input id="solarsystem" class="valuereturn" type="text" value="add solarsystem"/></p>
		<a></a>
		<p>{if !in_array($session.regionid, array_keys($regions))}<a href="{$site.root}item/addoverviewregion/{$session.regionid}">Add current region to My Market</a>{else}<a href="{$site.root}item/removeoverviewregion/{$session.regionid}">Remove current region from My Market</a>{/if}</p>
		<div class="topright">Displayed field <select name="fields" onchange="window.location=root+'item/overview/'+$(this).val();">
			<option value="lowest" {if $field == 'lowest'}selected="selected"{/if}>Sell Lowest 5% / Buy Highest 5%</option>
			<option value="avg" {if $field == 'avg'}selected="selected"{/if}>Sell Average / Buy Average</option>
			<option value="supply" {if $field == 'supply'}selected="selected"{/if}>Supply / Demand</option>
			<option value="trade" {if $field == 'trade'}selected="selected"{/if}>Trades</option>
			<option value="change" {if $field == 'change'}selected="selected"{/if}>Avg. Sell / Buy Change</option>
		</select></div>
		<table class="clean">
			<tr><th>Item</th>
			{foreach $regions "region"}
			<th>{$region->regionName}</th>
			{/foreach}
			</tr>
			{foreach $items "item_id" "regions"}
			<tr>
				{$nr = 0}
				{foreach $regions "region_id" "region"}
				{if $nr == 0}<td>{itemlink $region->type_id $region->type_name}</td>{$nr = 1}{/if}
				<td>
					{if $field == 'lowest'}
						{$region->sell_lowest5|number_format:2} / {$region->buy_highest5|number_format:2}
					{elseif $field == 'avg'}
						{$region->sell_avg|number_format:2} / {$region->buy_avg|number_format:2}
					{elseif $field == 'supply'}
						{$region->supply|number_format} / {$region->demand|number_format}
					{elseif $field == 'trade'}
						{$region->average|number_format}
					{elseif $field == 'change'}
					<span class="{if $region->sell_change > 0}green{elseif $region->sell_change < 0}red{/if}">{$region->sell_change*100|number_format:5}%</span> / <span class="{if $region->buy_change > 0}green{elseif $region->buy_change < 0}red{/if}">{$region->buy_change*100|number_format:5}%</span>
					{/if}
				</td>
				{/foreach}
			</tr>
			{/foreach}
		</table>
		{/if}
	</div>
</div>