<div class="glass">
	<div class="block">
		<h1>PI Prices</h1>
		<table class="clean">
			<tr><th>Item</th><th>LVL</th><th>Total Amount</th><th>Total Sell Price</th></tr>
			<tr><td>{$item->type_name}</td><td>{$max-$item->level}</td><td>{$item->total_quantity}</td><td class="right">{$item->total_quantity*$item->buy_highest5|number_format:2}</td></tr>
			{foreach $item->components "component"}
				<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;{$component->type_name}</td><td>{$max-$component->level}</td><td>{$component->total_quantity}</td><td class="right">{$component->total_quantity*$component->buy_highest5|number_format:2}</td></tr>
				{foreach $component->components "component2"}
					<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$component2->type_name}</td><td>{$max-$component2->level}</td><td>{$component2->total_quantity}</td><td class="right">{$component2->total_quantity*$component2->buy_highest5|number_format:2}</td></tr>
					{foreach $component2->components "component2"}
						<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$component2->type_name}</td><td>{$max-$component2->level}</td><td>{$component2->total_quantity}</td><td class="right">{$component2->total_quantity*$component2->buy_highest5|number_format:2}</td></tr>
						{foreach $component2->components "component2"}
							<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$component2->type_name}</td><td>{$max-$component2->level}</td><td>{$component2->total_quantity}</td><td class="right">{$component2->total_quantity*$component2->buy_highest5|number_format:2}</td></tr>
						{/foreach}
					{/foreach}
				{/foreach}
			{/foreach}
		</table>

		<table class="clean margin">
			<tr><th>Lvl</th><th class="right">Selling to Buy Orders</th><th class="right">Putting up a Sell Order</th></tr>
			{foreach $stats "level" "stat"}
				<tr><td>Lvl {$max-$level}</td><td class="right">{$stat.buy|number_format:2}</td><td class="right">{$stat.sell|number_format:2}</td></tr>
			{/foreach}
		</table>
	</div>
</div>