<table class="clean"><tr><th>Region</th><th class="right">Est. Trans. </th><th style="text-align:right;">Supply/Demand</th><th style="text-align:right;">Lowest/Highest</th><th style="text-align:right;">Average</th></tr>
{foreach $item.extraregional "price"}
		<tr class="middle">
			<td>{$price->region_name}</td>
			<td class="right">{$price->average*$price->est_spct|number_format:2} ES<br />{$price->average*$price->est_bpct|number_format:2} EB</td>
			<td class="right">{$price->supply|number_format:2} S<br />{$price->demand|number_format:2} D</td>
			<td class="right"><span style="text-align:right;{if $price->mls == -1}color:green;{elseif $price->mls == 1}color:red;{/if}">{$price->sell_lowest|number_format:2} LS</span><br /><span style="text-align:right;{if $price->mhp == -1}color:red;{elseif $price->mhp == 1}color:green;{/if}">{$price->buy_highest|number_format:2} HB</span></td>
			<td class="right"><span style="text-align:right;{if $price->mas == -1}color:green;{elseif $price->mas == 1}color:red;{/if}">{$price->sell_avg|number_format:2} AS</span><br /><span style="text-align:right;{if $price->map == -1}color:red;{elseif $price->map == 1}color:green;{/if}">{$price->buy_avg|number_format:2} AB</span></td>
		</tr>
{/foreach}
</table>