<div class="glass">
	<div class="block">
		<script>
			var total = parseFloat('{if $total}{$total}{else}0{/if}');
			function key() {

					$.ajax({
						url: root+'raw/item/getprice',
						data: { name: $('#name').val() },
						dataType: 'json',
						success: function(data, textStatus, jqXHR) {
							if (data.price) {
								$('#table').append("<tr><td>"+$('#name').val()+"</td><td>"+$('#amount').val()+"</td><td>"+addCommas(parseInt($('#amount').val())*data.price)+"</td></tr>");
								total += (parseInt($('#amount').val())*data.price);
								$('#counter').html(addCommas(total)+' ISK');
								var text = "";
								$('#table tbody').children().each(function(index, element) {
									if (index > 1) {
										text += $(element).children().first().html()+ ',' + $(element).children().first().next().html() + "\n";
									}
								});
								$('#text').val(text);
								$('#name').val('');
								$('#amount').val('1');
								$('#name').focus();
							} else {
								alert('No price information exists for that item');
							}
						}
					});

			}
			$(document).ready(function() {
				$( "#name" ).autocomplete({
					source: root+'item/itempricehint',
					minLength: 2,
					select: function( event, ui ) {
						$( "#name" ).val( ui.item.value );
					}
				});
			});
		</script>
		<h1>Pricelist</h1>
		<p>Enter an item name into the item input, enter the number into the amount input, and press enter (with focus on either of the inputs), you'll be able to build a list of items and their prices. <br />If you're satisfied, you can save the list by clicking on save as text. If you open this page next time, simply click there again, enter your text, and load the prices for the items again. <br />You can also get the itemlist from somewhere else of course, the dataformat is quite simple.</p>

		<div id="current" class="margin"><div id="counter" style="text-align:right;">{if $total}{$total|number_format:2}{else}0{/if} ISK</div></div>
		<table class="clean margin" id="table">
			<tr>
				<td>Item</td><td>Amount</td><td>Price</td>
			</tr>
			<tr>
				<td><input type="text" id="name" onkeydown="if (event.keyCode == 13) { key(); }"/></td><td><input type="text" id="amount" onkeydown="if (event.keyCode == 13) { key(); }" value="1" /></td><td></td>
			</tr>
			{foreach $items "item"}
				<tr>
					<td>{$item.0|trim}</td><td>{$item.1|trim}</td><td>{$item.2|number_format:2}</td>
				</tr>
			{/foreach}
		</table>
		
		<a href="javascript:$('#form').toggle();">Load/Save from text</a>
		<form method="post" style="display:none;" id="form">
			<textarea id="text" name="text" style="width:100%;" rows="6">{$text}</textarea>
			<input type="submit" value="Load from text" />
		</form>
	</div>
</div>