{$grandtotal=0}{$grandvtotal=0}
<table class="clean"><tr><th>Component</th><th>#</th><th>@</th><th style="text-align:right;">Cost</th><th style="text-align:right;">Volume</th></tr>
	{foreach $total_materials "typeID" "component"}
		<tr>
			<td>{itemlink $typeID $component.name}</td>
			<td>{$component.amount|number_format} (+{$component.wastage|number_format:2}%)</td>
			<td>{$component.price|number_format:2}</td>
			<td style="text-align:right;">{$total=$component.amount*$component.price}{$total|number_format}</td>
			<td style="text-align:right;">{$vtotal=$component.amount*$component.volume}{$vtotal|number_format}</td>
			{$grandtotal=$grandtotal+$total}{$grandvtotal=$grandvtotal+$vtotal}
		</tr>
	{/foreach}
	<tr>
		<td colspan="3" style="text-align:right;">Total</td><td style="text-align:right;">{$grandtotal|number_format}</td><td style="text-align:right;">{$grandvtotal|number_format}</td>
	</tr>
	<tr>
		<td colspan="3" style="text-align:right;">Total Profit/Per Hour Sell</td><td style="text-align:right;">{$profit=$item->sell_lowest5*$amount}{$profit=$profit-$grandtotal}{$profit|number_format}</td><td style="text-align:right;">{$timeinh=$blueprint->productionTime*$amount}{$timeinh=$timeinh/3600}{$profit/$timeinh|number_format:2}</td>
	</tr>
	<tr>
		<td colspan="3" style="text-align:right;">Total Profit/Per Hour Buy</td><td style="text-align:right;"> {$profit=$item->buy_highest5*$amount}{$profit=$profit-$grandtotal}{$profit|number_format}</td><td style="text-align:right;">{$timeinh=$blueprint->productionTime*$amount}{$timeinh=$timeinh/3600}{$profit/$timeinh|number_format:2}</td>
	</tr>
	<tr>
		<td colspan="3" style="text-align:right;">Total Time to Build</td><td style="text-align:right;">{$time=$blueprint->productionTime*$amount}{$time|time_format}</td><td style="text-align:right;"></td>
	</tr>
</table>