<h3><a onclick="$('#descr_{$item->id}').toggle();">{$item->name}</a> {if $item->comments}({count($item->comments)}){else}(0){/if}</h3>
<div class="desc" id="descr_{$item->id}" style="display:none;">
	{$item->description|nl2br}
	<h2>Comments</h2>
	{foreach $item->comments "comment"}
		<div class="comment"><div class="chead"><i>[{$comment->datetime}]</i> <b>{$comment->name}</b> </div><div>{$comment->description|nl2br}</div></div>
	{/foreach}
	{if $user}<form action="{$site.root}feedback/comment/{$item->id}" method="post"><textarea name="description" cols="80" rows="6"></textarea><br /><input type="submit" value="Add Comment" /></form>{else}<p>You need to be logged in to post comments</p>{/if}
</div>

<div class="favour">
	{if $user && $item->feedback_state_id != 1}
		My <span class="love">&hearts;</span>: <select onclick="determineFavour(this);" onchange="changeFavour(this, {$item->id});">{for i 0 10}<option value="{$i}" {if $item->favour == $i}selected="selected"{/if} {if $favour->favour_left < $i}disabled="disabled"{/if}>{$i}</option>{/for}</select>
	{/if}
	
	{if $user->check_level(90)}
		<select onchange="changeState(this, {$item->id});">
			{foreach $states "state"}
			<option value="{$state->id}" {if $state->id == $item->feedback_state_id}selected="selected"{/if}>{$state->name}</option>
			{/foreach}
		</select>
	{else}
		{foreach $states "state"}{if $state->id == $item->feedback_state_id}({$state->name}){/if}{/foreach}
	{/if}
	<span class="love">&hearts; {if $item->total_favour}{$item->total_favour|number_format}{else}0{/if}</span>
</div>
