<div class="glass">
	<div class="block">
		<script>
			var currentFavour = {$favour->favour_left};
			function changeFavour(object, feedback_id) {
				$('#feedback_'+feedback_id).fadeTo(400, 0.5);
				var favchange = $(object).val();
				$.ajax({
					url:root+'feedback/favour/'+feedback_id+'/'+favchange,
					dataType: 'html',
					success: function(res) {
						if (res) {
							currentFavour = parseInt(res);
							$('#currentfavour').html(parseInt(res));
							$('#feedback_'+feedback_id).load(root+'feedback/ajaxitem/'+feedback_id, function() { $('#feedback_'+feedback_id).fadeTo(400, 1); });
						}
					}
				});
			}
			function determineFavour(object) {
				$(object).children().each(function(index, item) {
					if (parseInt($(item).attr('value')) > (currentFavour+parseInt($(object).val()))) {
						$(item).attr('disabled', 'disabled');
					} else {
						$(item).removeAttr('disabled');
					}
				});
			}
			function changeState(object, feedback_id) {
				$.ajax({
					url:root+'feedback/state/'+feedback_id+'/'+$(object).val(),
					dataType: 'html'
				});
			}
			{if $openitem}$(document).ready(function() {
				$('#descr_{$openitem}').toggle();
			});{/if}
		</script>
		<h1>Feedback</h1>
		{if $user}
		<a onclick="$('#give').toggle();" class="clickable">Give feedback</a>
		<form id="give" class="clean" style="display:none;" method="post" action="{$site.root}feedback/create">
			<dl>
				<dt><input name="title" type="text" class="fullwidth" value="title" /></dt>
				<dt><select name="type" class="fullwidth">{foreach $types "type"}<option value="{$type->id}">{$type->name}</option>{/foreach}</select></dt>
				<dt><textarea name="description" class="fullwidth" rows="4">description</textarea><br /><small>Only allows basic HTML tags</small></dt>
				<dt><input type="submit" value="Submit" /></dt>
			</dl>
		</form>
		<h2>Active</h2>
		<p>You have <span id="currentfavour">{$favour->favour_left}</span> points of love to distribute over the different ideas. Rate according to rate of importance for you.</p>
		{else}
		<p>You need to be logged in to rate items or submit new requests.</p>
		{/if}

		{$state=0}
		{foreach $feedback "item"}
		{if $state==0 && $item->feedback_state_id == 1}<h2>Completed</h2><p>Completed items disappear after a week, and do not count towards love. Commenting is still possible.</p>{$state=1}{/if}
		<div id="feedback_{$item->id}" class="feedback">
			{include 'tpl/feedback/ajaxitem.html'}
		</div>
		{foreachelse}
		<p>There are no feedback items as of yet. <a href="javascript:$('#give').toggle();;">Give feedback now</a>?</p>
		{/foreach}
	</div>
</div>